<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>출연자 관리 리스트</title>
</head>
<body>
<h1>출연자 게시판</h1>
<table border="1" cellpadding="1" cellspacing="1">
    <ul>
        <tr>

            <td>촬영내용</td>
            <td>연기자(배역)</td>

        </tr>
        {{#actorManagementList}}
            <tr>


                <!--<td>{1{day_title}}</td>
                <td><a href="/plan/actorManagement/{1{actor_id}}">{1{actor_name}}</a></td>
                <td>{1{arrival_time}}</td>
                <td>{1{place}}</td>
                <td>{1{set_call}}</td>-->


                <td>{{scene_content}}</td>
                <td>{{casting}}</td>




            </tr>
        {{/actorManagementList}}
    </ul>
</table>

<!--페이징 처리 레이아웃-->
{{>layout/paging}}

<form action="/plan/actorManagement/" method="GET">
    <select id="searchType" name="searchType">
        <option value="all">선택</option>
        <option value="title">출연자</option>
        <option value="content">촬영계획명</option>
        <!-- 필요한 항목 추가 -->
    </select>
    <input type="text" id="search" name="search" placeholder="검색">

    <input type="submit" value="검색">

</form>
<a href="/plan/insertactorManagementView" role="button">작성</a>
<a href="/plan/actor_management">목록</a>
<a href="/index">홈 페이지</a>

<script>
    var url = "/plan/actor_management";
</script>
<script src="/static/js/search.js"></script>

</body>
</html>