<!DOCTYPE html>
<html>
<head>
    <title>Calendar</title>
    <!--jQuery 라이브러리 소스 이게 없으면 ajax못씀-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!--머스테치 라이브러리 소스-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.3.0/mustache.min.js"></script>
    {{>layout/header}}
</head>
<body>
{{>layout/sidebar}}
{{>layout/topbar}}

<div id="content-wrapper" class="d-flex flex-column">
    <div id="content"><!--무슨 역할?-->

        <div id="currentDate">
            <h1 class="h2 mb-2 font-weight-bold text-gray-800" style="margin-top: 50px; text-align: center;">
                <span id="year">{{year}}</span>년 <span id="month">{{month}}</span>월 일정
            </h1>
        </div><!--id 가 동작하는부분임-->


        <div class="card shadow mb-4" style="margin-top: 50px;">  <!--그림자-->
            <div class="card-header py-3" style="center;"> <!--카드헤더 div-->
                <div class="d-flex justify-content-end align-items-center">
                    <button class="btn btn-primary mr-2" type="button" onclick="dateButtonGet('preYear')">전년</button>
                    <button class="btn btn-info mr-2" type="button" onclick="dateButtonGet('preMonth')">이전달</button>
                    <button class="btn btn-info mr-2" type="button" onclick="dateButtonGet('nextMonth')">다음달</button>
                    <button class="btn btn-primary" type="button" onclick="dateButtonGet('nextYear')" >내년</button>
                </div>
            </div><!--카드헤더 end-->

                 <div class="card-body"><!--카드바디-->
                     <div class="table-responsive"><!--??-->
                            <table  id="calendar-container" class="table table-bordered" width="100%" cellspacing="0">
                                <tr>
                                    <th style="text-align: center; width: 80px;"><span style="color:red">일</span></th>
                                    <th style="text-align: center; width: 80px;">월</th>
                                    <th style="text-align: center; width: 80px;">화</th>
                                    <th style="text-align: center; width: 80px;">수</th>
                                    <th style="text-align: center; width: 80px;">목</th>
                                    <th style="text-align: center; width: 80px;">금</th>
                                    <th style="text-align: center; width: 80px;"><span style="color:blue">토</span></th>
                                </tr>
                                {{#calendar}}
                                    <tr style="height:100px;">
                                        {{#this}}
                                            <td style="text-align: center;" id="{{.}}">{{.}}</td>
                                        {{/this}}
                                    </tr>
                                {{/calendar}}
                            </table>
                     </div><!--??-->
                 </div><!--카드바디end-->
            </div><!--카드end-->

    </div><!--컨텐츠 end-->
</div>

<!-- Footer -->
{{>layout/footer}}
</div>
</div>

{{>layout/bootstrapjs}}
<script>
    var logJson = {{{logJson}}};
    var dayJson = {{{dayJson}}};

    var year = {{year}};
    var month = {{month}};
</script>

<script src="/static/js/calendar.js"></script>
</body>
</html>