<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/static/js/delete.js"></script>
</head>
<body>

<table border="1" cellpadding="1" cellspacing="1">
    <tr>
        <td>기획</td>
        <td>시나리오</td>
        <td>씬</td>
        <td>출연자 / 배역</td>
        <td>촬영일</td>
    </tr>
    <tr>
        <td>{{filmPlanDetail.project_name}}</td>
        <td>{{filmPlanDetail.scenario_name}}</td>
        <td>{{filmPlanDetail.scene_num}}</td>
        <td>{{filmPlanDetail.pd_name}} / {{filmPlanDetail.casting}}</td>
        <td>{{filmPlanDetail.film_date}}</td>
    </tr>
    <tr>
        <td>안/밖 : {{filmPlanDetail.inside_flag}}</td>
        <td>낮/밤 : {{filmPlanDetail.day_flag}}</td>
        <td>컷 : {{filmPlanDetail.cut}}</td>
    </tr>

</table>
<a href="/plan/film_plan">목록</a>
<a href="/plan/{{filmPlanDetail.film_id}}/filmPlanUpdateView">수정</a>
<a href="/plan/{{filmPlanDetail.film_id}}/deleteFilm" onclick="confirmDelete(event)">삭제</a>




</body>
</html>