<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판 리스트</title>
</head>
<body>
<h1>공지사항</h1>
<table border="1" cellpadding="1" cellspacing="1">
    <ul>
        <tr>
            <td>안/밖</td>
            <td>낮/밤</td>
            <td>계획표id</td>
            <td>카메라씬id</td>
            <td>컷</td>


        </tr>
        {{#filmList}}
            <tr>
                <td>{{scene_id}}</td>
                <td><a href="/plan/filmPlan/{{film_id}}">{{day_flag}}</a></td>
                <td>{{day_id}}</td>
                <td>{{cut}}</td>
                <td>{{inside_flag}}</td>

            </tr>
        {{/filmList}}
    </ul>
</table>

{{>layout/paging}}

<form action="/plan/film_plan" method="GET">
    <select id="searchType" name="searchType">
        <option value="all">선택</option>
        <option value="title">안/밖</option>
        <option value="content">낮/밤</option>
        <!-- 필요한 항목 추가 -->
    </select>
    <input type="text" id="search" name="search" placeholder="검색">

    <input type="submit" value="검색">

</form>


<a href="/plan/insertFilmPlanView" role="button">새 시간표 작성</a>
<a href="/plan/film_plan">목록</a>


<script>
    var url = "/plan/film_plan";
</script>
<script src="/static/js/search.js"></script>




</body>
</html>
