<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    {{>layout/header}}
</head>
<body>
<div id="page-top">
    {{>layout/sidebar}}
    {{>layout/topbar}}
    <div id="content-wrapper" class="d-flex flex-column">
        <div class="container">

            <h1 class="h2 mb-2 font-weight-bold text-gray-800" style="margin-top: 50px; text-align: center;">
                촬영계획 수정
            </h1>

            <div class="card shadow mb-4" style="margin-top: 50px;">  <!--카드전체 섹션-->
                <div class="card-header py-3" style="center;"> <!--카드헤더 div-->

                </div><!--카드헤더 end-->

                <div class="card-body"><!--카드 바디-->
                    <form id="alert"action="/plan/{{filmPlanUpdate.film_id}}/updatefilm" method="get">
                        <table class="table table-bordered" width="100%" cellspacing="0">

                            <thead>
                            <tr>
                                <th style="text-align: center;">기&nbsp;&nbsp;획</th>
                                <th style="text-align: center;">시나리오</th>
                                <th style="text-align: center;">씬</th>
                                <th style="text-align: center;">출연자 / 배역</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td style="text-align: center;">{{filmPlanUpdate.project_name}}</td>
                                <td style="text-align: center;">{{filmPlanUpdate.scenario_name}}</td>
                                <td style="text-align: center;"> {{filmPlanUpdate.scene_num}}</td>
                                <td style="text-align: center;">{{filmPlanUpdate.pd_name}} / {{filmPlanUpdate.casting}}</td>
                            </tr>

                            <tr>
                                <th style="text-align: center;">안&nbsp;/&nbsp;밖
                                    <input class="radio ml-3" type="radio" name="inside_flag" value="실내" {{#insideFlag}}{{#실내}}checked{{/실내}}{{/insideFlag}}> 실내
                                    <input class="radio ml-3" type="radio" name="inside_flag" value="실외" {{#insideFlag}}{{#실외}}checked{{/실외}}{{/insideFlag}}> 실외
                                </th>
                                <th style="text-align: center;">낮&nbsp;/&nbsp;밤
                                    <input class="radio2 ml-3" type="radio" name="day_flag" value="낮" {{#dayFlag}}{{#낮}}checked{{/낮}}{{/dayFlag}}> 낮
                                    <input class="radio2 ml-3" type="radio" name="day_flag" value="밤" {{#dayFlag}}{{#밤}}checked{{/밤}}{{/dayFlag}}> 밤
                                </th>
                                <th style="text-align: center;">컷
                                    <input class="field1" type="text" name="cut" value="{{filmPlanUpdate.cut}}"/>
                                </th>
                            </tr>
                            </tbody>
                        </table>

                        <div class="d-flex justify-content-end">
                            <input type="submit" value="등록" class="btn btn-primary mr-2" onclick="mappingurl('/plan/{{filmPlanUpdate.film_id}}/updatefilm',1,'수정')">
                            <a href="javascript:history.back()" role="button" class="btn btn-secondary">취소</a>
                        </div>
                    </form>

                </div><!--카드바디-->
            </div><!--카드 end-->

        </div><!--컨테이너 end-->
    </div><!--warpper end-->
</div><!--page-top end-->
{{>layout/footer}}
</div>

<script>
    var radioButtonName = "inside_flag";
    var radioButtonName2 = "day_flag";
</script>
<script src="/static/js/cu_alert.js"></script>
{{>layout/bootstrapjs}}
</body>
</html>