<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/static/js/cu_alert.js"></script>
</head>
<body>
<form id="alert"action="/plan/{{filmPlanUpdate.film_id}}/updatefilm" method="get">
<table border="1" cellpadding="1" cellspacing="1">
    <tr>
        <td>기획</td>
        <td>시나리오</td>
        <td>씬</td>
        <td>출연자 / 배역</td>
        <td>촬영일</td>
    </tr>
    <tr>
        <td>{{filmPlanUpdate.project_name}}</td>
        <td>{{filmPlanUpdate.scenario_name}}</td>
        <td>{{filmPlanUpdate.scene_num}}</td>
        <td>{{filmPlanUpdate.pd_name}} / {{filmPlanUpdate.casting}}</td>
        <td>{{filmPlanUpdate.film_date}}</td>
    </tr>
    <tr>
        <td>안/밖 : <input type="text" class="field1" name="inside_flag" value="{{filmPlanUpdate.inside_flag}}" /></td>
        <td>낮/밤 : <input type="text" class="field2" name="day_flag" value="{{filmPlanUpdate.day_flag}}" /></td>
        <td>컷 : <input type="text" class="field3" name="cut" value="{{filmPlanUpdate.cut}}"/></td>
    </tr>
</table>
    <input type="submit" value="등록" onclick="mappingurl('/plan/{{filmPlanUpdate.film_id}}/updatefilm',3,'수정')">
</form>
<a href="/plan/film_plan">목록</a>





</body>
</html>