<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<form id="alert" action="/plan/insertScheduleTime" method="get">
    <input type="hidden" name="day_id" class="field4" value="{{dayId}}">
    <table border="1" cellpadding="1" cellspacing="1">
        <tr>
            <td>시간시간<input name="start_time" type="time"  class="field1"></td>
            <td>종료시간<input name="end_time" type="time"  class="field2"></td>
            <td>촬영내용<input name="film_content" type="text"  class="field3" ></td>
        </tr>
    </table>

    <input type="submit" value="등록" onclick="mappingurl('/plan/insertScheduleTime',4,'작성')">
</form>
<a href="/plan/schedule_time">목록</a>

</script>
<script src="/static/js/cu_alert.js"></script>
</body>
</html>