<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<form action="/plan/insertactorManagement" method="get">
    <table border="1" cellpadding="1" cellspacing="1">
        <tr>


            <td>배우이름<input name="actor_name" type="text"   ></td>
            <td>도착시간<input name="arrival_time" type="date"  ></td>
            <td>장소<input name="place" type="text" ></td>
            <td>셋콜<input name="set_call" type="text" ></td>
            <td>일정id<input name="day_id" type="text"  ></td>



        </tr>


    </table>
    <input type="submit" value="등록">
</form>


<a href="/plan/actorManagementList">목록</a>

</body>
</html>