<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<form action="/plan/insertFilm" method="get">
    <table border="1" cellpadding="1" cellspacing="1">
        <tr>


            <td>안/밖<input name="inside_flag" type="text"  ></td>
            <td>낮/밤<input name="day_flag" type="text" ></td>
            <td>계획표id<input name="day_id" type="text" ></td>
            <td>카메라씬id<input name="scene_id" type="text" ></td>
            <td>컷<<input name="cut" type="text" ></td>



        </tr>


    </table>
    <input type="submit" value="등록">
</form>
<a href="/plan/film_plan">목록</a>


</body>
</html>