<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    </head>
<body>
<form id="alert"action="/plan/insertactorManagement" method="get">
    <input type="hidden" class="field1" name="day_id" value="{{dayId}}">

    <table border="1" cellpadding="1" cellspacing="1">
        <tr>
            <td>출연자 <select id="fk1" name="pd_id"></select></td>
            <td>도착시간<input name="arrival_time" type="time" class="field2" ></td>
            <td>장소<input name="place" type="text" class="field3" ></td>
            <td>셋콜<input name="set_call" type="time" class="field4"></td>
        </tr>
    </table>

    <input type="submit" value="등록"  onclick="mappingurl('/plan/insertactorManagement',4,'작성')">
</form>


<a href="/plan/actor_management">목록</a>

<script>
    var jsonValue = '{{{fkList}}}';
    <!--select 옵션 name값을 cu_alert.js에 보내주기 위한 변수 값/이게없으면 제출이 안됨-->
    var selectName = "pd_id";
    <!--selectName이 실행되기 위해선 cu_alert 스크립트소스가 이 아래 있어야함-->
</script>
<script src="/static/js/dropdown.js"></script>
<script src="/static/js/cu_alert.js"></script>
</body>
</html>