<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>

<table border="1" cellpadding="1" cellspacing="1">
    <tr>
        <h1>일일 촬영계획표 </h1>
        <h3>{{scheduleDetail.film_date}} : {{scheduleDetail.day_title}}'</h3>
        <h5>제목부분 중앙에 오게 해주세요</h5>
    </tr>
    <tr>
</table>

<!--테이블 1 start-->
<table border="1" cellpadding="1" cellspacing="1">
    <tr>
        <td>씬</td>
        <td>장소</td>
        <td>내용</td>
        <td>연기자</td>
        <td>안/밖</td>
        <td>낮/밤</td>
        <td>컷수</td>
    </tr>
  {{#table1}}
      <tr>
          <td>{{scenario_name}}-#{{scenario_num}}-{{scene_num}}</td>
          <td>{{scene_place}}</td>
          <td>{{scene_content}}</td>
          <td>아직미구현</td>
          <td>{{inside_flag}}</td>
          <td>{{day_flag}}</td>
          <td>{{cut}}</td>
      </tr>
    {{/table1}}
</table>
<!--table1 end-->

<!--table2 start-->
<table border="1" cellpadding="1" cellspacing="1">
    <tr><td colspan="2">진행시간표</td></tr>
    <tr>
        <td>시간</td>
        <td>내용</td>
    </tr>
    {{#table2}}
        <tr>
            <td>{{start_time}} ~ {{end_time}}</td>
            <td>{{film_content}}</td>
        </tr>
    {{/table2}}
</table>
<!--table2 end-->

<table border="1" cellpadding="1" cellspacing="1">
    <tr>
        <td>촬영순서<input name="film_order" type="text" value="{{scheduleDetail.film_order}}"></td>
        <td>날씨<input name="weather" type="text"value="{{scheduleDetail.weather}}" ></td>
        <td>조명<input name="light" type="text" value="{{scheduleDetail.light}}"></td>
        <td>의상<input name="costume" type="text" value="{{scheduleDetail.costume}}" ></td>
        <td>소품<input name="prop" type="text"  value="{{scheduleDetail.prop}}"></td>
        <td>연출/제작<input name="direct" type="text" value="{{scheduleDetail.direct}}" ></td>
        <td>기획ID<input name="project_id" type="text" value="{{scheduleDetail.project_id}}" ></td>
    </tr>
</table>
<a href="/plan/schedule_day">목록</a>
<a href="/plan/{{scheduleDetail.day_id}}/scheduleUpdateView">수정</a>
<a href="/plan/{{scheduleDetail.day_id}}/deleteSchedule" onclick="confirmDelete(event)">삭제</a>


<script> var base ="/plan/schedule_day";</script>
<script src="/static/js/delete.js"></script>
</body>
</html>