<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <table border="1" cellpadding="1" cellspacing="1">
        <tr>


            <td>촬영시간<input name="film_time" type="date"  value="{{scheduleTime.film_time}}" ></td>
            <td>촬영내용<input name="film_content" type="text"  value="{{scheduleTime.film_content}}" ></td>
            <td>계획표id<input name="day_id" type="text"  value="{{scheduleTime.day_id}}" ></td>



        </tr>


    </table>
    <a href="/plan/scheduleTimeList">목록</a>
    <a href="/plan/{{scheduleTime.time_id}}/scheduleTimeUpdateView">수정</a>
    <a href="/plan/{{scheduleTime.time_id}}/deleteTime">삭제</a>




</body>
</html>