<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    {{>layout/header}}
</head>
<body>
<div id="page-top">
    {{>layout/sidebar}}
    {{>layout/topbar}}
    <div id="content-wrapper" class="d-flex flex-column">
        <div class="container">

            <h1 class="h2 mb-2 font-weight-bold text-gray-800" style="margin-top: 50px; text-align: center;">
                일일 촬영계획표 : '{{scheduleDetail.day_title}}'
            </h1>
            <h5 class="h5 mb-2 font-weight-bold text-gray-600" style="text-align: center;">({{scheduleDetail.film_date}} : '{{scheduleDetail.weather}}')</h5>


            <div class="card shadow mb-4" style="margin-top: 50px;">  <!--카드전체 섹션-->
                <div class="card-header py-3" style="center;"> <!--카드헤더 div-->
                    <h4 style="h4 font-weight-bold text-gray-800">'{{scheduleDetail.project_name}}' : {{scheduleDetail.day_num}} 회차 촬영계획</h4>
                </div><!--카드헤더 end-->


                <div class="card-body"><!--카드 바디-->

                    <!--테이블 1 start-->
                    <table class="table table-bordered" width="100%" cellspacing="0">
                        <tr>
                            <th style="text-align: center;">씬</th>
                            <th style="text-align: center;">장소</th>
                            <th style="text-align: center;">내용</th>
                            <th style="text-align: center;">출연자</th>
                            <th style="text-align: center;">배역</th>
                            <th style="text-align: center;">안/밖</th>
                            <th style="text-align: center;">낮/밤</th>
                            <th style="text-align: center;">컷수</th>
                        </tr>
                        {{#table1}}
                            <tr>
                                <td style="text-align: center;">{{scenario_name}}-#{{scenario_num}}-{{scene_num}}</td>
                                <td style="text-align: center;">{{scene_place}}</td>
                                <td style="text-align: center;"><a href="/plan/filmPlan/{{film_id}}" >{{scene_content}}</a></td>
                                <td style="text-align: center;">{{pd_name}}</td>
                                <td style="text-align: center;">{{casting}}</td>
                                <td style="text-align: center;">{{inside_flag}}</td>
                                <td style="text-align: center;">{{day_flag}}</td>
                                <td style="text-align: center;">{{cut}}</td>
                            </tr>
                        {{/table1}}
                    </table>
                    <div class="d-flex justify-content-end">
                        <form method="get" action="/plan/insertFilmPlanView/{{scheduleDetail.day_id}}">
                            <input type="hidden" name="day_id" value="{{scheduleDetail.day_id}}">
                            <input type="submit" class="btn btn-primary" value="작성">
                        </form>
                    </div>
                    <!--table1 end-->

                    <div id="table-group" class="d-flex justify-content-between"><!--테이블그룹 start-->

                        <div style="width:45%;"><!--table2 start-->
                            <table class="table-bordered" width="100%" cellspacing="0">
                                <tr>
                                    <th style="text-align: center;" colspan="2">진행시간표</th>
                                </tr>
                                <tr>
                                    <th style="text-align: center;">시&nbsp&nbsp간</th>
                                    <th style="text-align: center;">내&nbsp&nbsp용</th>
                                </tr>
                                {{#table2}}
                                    <tr>
                                        <td style="text-align: center;">{{start_time}} ~ {{end_time}}</td>
                                        <td style="text-align: center;"><a href="/plan/scheduleTime/{{time_id}}">{{film_content}}</a></td>
                                    </tr>
                                {{/table2}}
                            </table>
                            <div class="d-flex justify-content-end mt-3">
                                <form method="get" action="/plan/insertScheduleTimeView">
                                    <input type="hidden" name="day_id" value="{{scheduleDetail.day_id}}">
                                    <input type="submit" class="btn btn-primary" value="작성">
                                </form>
                            </div>
                        </div><!--table2 end-->


                        <div style="width:45%;"><!--table3 start-->
                            <table class="table-bordered" width="100%" cellspacing="0">
                                <tr>
                                    <th style="text-align: center;" colspan="4">출연자 준비</th>
                                </tr>
                                <tr>
                                    <th style="text-align: center;">출연자</th>
                                    <th style="text-align: center;">도착시간</th>
                                    <th style="text-align: center;">장소</th>
                                    <th style="text-align: center;">SET_CALL</th>
                                </tr>
                                {{#table3}}
                                    <tr>
                                        <td style="text-align: center;"><a href="/plan/actorManagement/{{actor_id}}">{{actor_name}}</a> </td>
                                        <td style="text-align: center;">{{arrival_time}}</td>
                                        <td style="text-align: center;">{{place}}</td>
                                        <td style="text-align: center;">{{set_call}}</td>
                                    </tr>
                                {{/table3}}
                            </table>
                            <div class="d-flex justify-content-end mt-3">
                                <form method="get" action="/plan/insertactorManagementView">
                                    <input type="hidden" name="day_id" value="{{scheduleDetail.day_id}}">
                                    <input type="submit" class="btn btn-primary" value="작성">
                                </form>
                            </div>
                        </div><!--table3 end-->
                    </div><!--테이블 그룹 end-->

                    <!--table4 start-->
                    <table class="table table-bordered" width="100%" cellspacing="0">
                            <tr>
                            <th style="text-align: center;">조명</th>
                            <th style="text-align: center;">의상</th>
                            <th style="text-align: center;">소품</th>
                        </tr>
                        <tr>
                            <td style="text-align: center;">
                                <textarea name="light" rows="5" cols="30" readonly>{{scheduleDetail.light}}</textarea>
                            </td>
                            <td style="text-align: center;">
                                <textarea name="costume"  rows="5" cols="30" readonly>{{scheduleDetail.costume}}</textarea>
                            </td>
                            <td style="text-align: center;">
                                <textarea name="prop" rows="5" cols="30" readonly>{{scheduleDetail.prop}}</textarea>
                            </td>
                        </tr>

                        <tr>
                            <th style="text-align: center;">촬영순서</th>
                            <th style="text-align: center;">연출/제작</th>
                        </tr>
                        <tr>
                            <td style="text-align: center;">
                                <textarea name="film_order" rows="5" cols="30" readonly>{{scheduleDetail.film_order}}</textarea>
                            </td>
                            <td style="text-align: center;">
                                <textarea name="direct" rows="5" cols="30"  readonly>{{scheduleDetail.direct}}</textarea>
                            </td>
                        </tr>
                    </table>
                    <!--table4 end-->


                    <div class="d-flex justify-content-end">
                        <a href="/plan/schedule_day" class="btn btn-primary mr-2">목록</a>
                        <a href="/plan/{{scheduleDetail.day_id}}/scheduleUpdateView" class="btn btn-success mr-2">수정</a>
                        <a href="/plan/{{scheduleDetail.day_id}}/deleteSchedule" class="btn btn-danger" onclick="confirmDelete(event)">삭제</a>
                    </div>


                </div><!--카드바디-->
            </div><!--카드 end-->

        </div><!--컨테이너 end-->
    </div><!--warpper end-->
</div><!--page-top end-->
{{>layout/footer}}
</div>

<script> var base ="/plan/schedule_day";</script>
<script src="/static/js/delete.js"></script>
    {{>layout/bootstrapjs}}
</body>
</html>