<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>

    <table border="1" cellpadding="1" cellspacing="1">
        <tr>
            <td>촬영시간<input name="film_time" type="date"  value="{{scheduleTime.start_time}}" ></td>
            <td>촬영내용<input name="film_content" type="text"  value="{{scheduleTime.film_content}}" ></td>
            <td>계획표id
                <select id="fk" name="day_id" ></select>
            </td>
        </tr>

    </table>
    <a href="/plan/schedule_time">목록</a>
    <a href="/plan/{{scheduleTime.time_id}}/scheduleTimeUpdateView">수정</a>
    <a href="/plan/{{scheduleTime.time_id}}/deleteTime" onclick="confirmDelete(event)">삭제</a>

    <script src="/static/js/delete.js"></script>

</body>
</html>