<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판 리스트</title>
</head>
<body>
<h1>공지사항</h1>
<table border="1" cellpadding="1" cellspacing="1">
    <ul>
        <tr>
            <td>촬영시간</td>
            <td>촬영내용</td>
            <td>계획표id</td>


        </tr>
        {{#scheduleTimeList}}
            <tr>
                <td>{{film_time}}</td>
                <td><a href="/plan/scheduleTime/{{time_id}}">{{film_content}}</a></td>
                <td>{{day_id}}</td>

            </tr>
        {{/scheduleTimeList}}
    </ul>
</table>
<a href="/plan/insertScheduleTimeView" role="button">새 시간표 작성</a>
<a href="/plan/scheduleTimeList">목록</a>
</body>
</html>
