<!DOCTYPE html>
<html>
<head>
    <title>Calendar</title>
</head>
<body>
<h1>{{year}}년 {{month}}월 달력</h1>
<table border="1">
    <tr>
        <th>일</th>
        <th>월</th>
        <th>화</th>
        <th>수</th>
        <th>목</th>
        <th>금</th>
        <th>토</th>
    </tr>
    {{#calendar}}
        <tr>
            {{#this}}
                <td>{{.}}</td>
            {{/this}}
        </tr>
    {{/calendar}}
</table>
<form method="post" action="/calendar">
    년<input type="number" name="year">
    월<input type="number" name="month">
    <input type="submit" value="검색">
</form>

<button type="button" id="preYear" >전년</button>
<button type="button" id="preMonth" onclick="preMonth()">이전달</button>
<button type="button" id="nextMonth">다음달</button>
<button type="button" id="nextYear">내년</button>


<!--js에 넘겨주기 위한 히든값 start-->
<input id="year" type="hidden" value="{{year}}">
<input id="month" type="hidden" value="{{month}}">
<!--js에 넘겨주기 위한 히든값 end-->


<script src="/static/js/calendar.js"></script>
</body>
</html>