<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>제작인원 편성</title>
    {{>layout/header}}
</head>

<body id="page-top">
{{>layout/sidebar}}
{{>layout/topbar}}

<!-- Content Wrapper -->
<div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">

        <!-- Begin Page Content -->
        <div class="container-fluid">
            <h1 class="h3 mb-2 text-gray-800" style="margin-top: 50px;">제작인원 편성</h1>

            <!-- DataTales Example -->
            <div class="card shadow mb-4" style="margin-top: 50px;">
                <div class="card-header py-3">

        <!--검색-->
        <form action="/project/project" method="get"
              class="d-flex justify-content-end form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search ml-auto">

            <div class="input-group">
                <select id="searchType" name="searchType">
                    <option value="all">선택</option>
                    <option value="title">제작이름</option>
                    <!-- 필요한 항목 추가 -->
                </select>

                <input id="search" name="search" type="text"  style="width: 150px;" class="form-control bg-light border-0 small" placeholder="Search for..."
                       aria-label="Search" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <input class="btn btn-primary" type="submit" value="검색">
                </div>
            </div>
        </form> <!-- form 끝 -->
    </div>
                <div class="card-body">
                    <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th>기획</th>
                                    <th>이름</th>
                                    <th>역할</th>
                                    <th>배역</th>
                                </tr>
                                </thead>

                                <tbody>
                                {{#selectListProduce}}
                                    <tr>
                                        <td style="text-align: center;">{{project_name}}</td>
                                        <td style="text-align: center;"> <a href="/project/{{pd_id}}/selectproduce">{{pd_name}}</a></td>
                                        <td style="text-align: center;">{{role}}</td>
                                        <td style="text-align: center;">{{casting}}</td>
                                    </tr>
                                {{/selectListProduce}}
                                </tbody>
                            </table>

                                <!--페이징 처리 레이아웃-->
                                <div class="d-flex justify-content-between align-items-center">
                                    <span></span>
                                    <span>
                                    {{>layout/paging}}</span>
                                <a href="/project/insertprojectview" role="button" class="btn btn-primary">글 작성</a>
                                </div>
                    </div>
                </div>
            </div>   <!-- table 끝 -->


        </div>
    </div>

        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>
        <!-- /.container-fluid -->
</div></div>
    <!-- End of Main Content -->
    {{>layout/footer}}
</div>
<!-- End of Content Wrapper -->

<script>
    var url = "project/produce";
</script>

<script src="/static/js/search.js"></script>

<!-- 페이징 처리와 관련된 부트스트랩 라이브러리-->
<script src="/static/bootstrap/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="/static/bootstrap/vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- 페이징 처리와 관련된 부트스트랩 라이브러리 -->
<script src="/static/bootstrap/js/demo/datatables-demo.js"></script>

{{>layout/bootstrapjs}}

</body>
</html>