<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>제작예산 리스트</title>
</head>
<body>
<h1>예산서 리스트</h1>
<form action="/project/listbudget" method="GET">
    <table border="1" cellpadding="1" cellspacing="1">
        <ul>

            <tr>
                <td>항목이름</td>
                <td>프로젝트아이디</td>
            </tr>

            {{#selectListBudget}}
                <tr>
                    <td><a href="/project/{{budget_id}}/selectbudget">{{budget_name}}</a></td>
                    <td>{{project_id}}</td>
                </tr>
            {{/selectListBudget}}
        </ul>
    </table>

    <tr>
        <td>
            <!--  원래 URL주소는: searchType=projectId&content=311 로 get주소로 나옴
            따로 DB 검색 Dto(BudgetSearchDto)에 name,projectId를 설정해놔서
            주소 값을 변경해야함 -> 이부분은 자바스크립트로 변경처리
             -->
            <select id="searchType" name="searchType">
                <option value="">전체</option>
                <option value="name">제목</option>
                <option value="projectId">프로젝트 아이디</option>
                <!-- 필요한 항목 추가 -->
            </select>
        </td>

        <td>
            <input type="text" id="content" name="content" placeholder="검색">
        </td>

    </tr> <input type="button" value="검색" onclick="submitForm()">
</form>

<a href="/project/insertbudgetview" role="button">작성</a>


<script>
    // search 할때, 기본 URL 주소값을 변경하기 위해..
    function submitForm() {
        //  위의 select의 name인 서치타입을 가져오고 해당 입력값을 가져옴
        var searchTypeSelect = document.getElementById("searchType");
        var selectedSearchType = searchTypeSelect.value;

        //인풋 값을 컨텐츠에 담음
        var content = document.getElementById("content").value;


        // 프로젝트Id 로 검색 또는 입력값이 없을때
        if (selectedSearchType === "projectId" && content !== "") {  // 검색시, projectId와 빈칸일때
            // URL 주소를 아래로 변경해라 (베이스URL / 서치 URL)
            var baseUrl = "/project/listbudget";
            var searchUrl = baseUrl + "?projectId=" + content;

            //  searchUrl로 이동
            window.location.href = searchUrl;
        }

        if (selectedSearchType === "name" && content !== "") {
            // Construct the URL
            var baseUrl = "/project/listbudget";
            var searchUrl = baseUrl + "?name=" + content;


            window.location.href = searchUrl;
        }
    }
</script>
</body>
</html>