<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>크리에이터 리스트</title>
</head>
<body>
<h1>크리에이터 현황</h1>
<table border="1" cellpadding="1" cellspacing="1">
    <ul>
        <tr>
            <td>이름</td>
            <td>회사아이디</td>
        </tr>
        {{#selectListProject}}
            <tr>
                <td><a href="/project/{{project_id}}/selectproject">{{project_name}}</a></td>
                <td>{{com_id}}</td>
            </tr>
        {{/selectListProject}}
    </ul>
</table>
근데 작성자는 잇어야되지 않을까요?<br/>
<a href="/project/insertprojectview" role="button">작성</a>
<a href="/project/listproject">목록</a>
</body>
</html>