<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>제작예산 리스트</title>
</head>
<body>
<h1>예산서 리스트</h1>
<form action="/project/listbudget" method="GET">
    <table border="1" cellpadding="1" cellspacing="1">
        <ul>
            <tr>
                <td>항목이름</td>
                <td>프로젝트아이디</td>
            </tr>
            <tr>
                <td>

                    //searchType=projectId&content=311
                    <select id="searchType" name="searchType">
                        <option value="">전체</option>
                        <option value="name">제목</option>
                        <option value="projectId">프로젝트 아이디</option>
                        <!-- 필요한 항목 추가 -->
                    </select>
                </td>
                <td>
                    <input type="text" id="content" name="content" placeholder="검색">
                </td>
            </tr>
            {{#selectListBudget}}
                <tr>
                    <td><a href="/project/{{budget_id}}/selectbudget">{{budget_name}}</a></td>
                    <td>{{project_id}}</td>
                </tr>
            {{/selectListBudget}}
        </ul>
    </table>
    <input type="button" value="검색" onclick="submitForm()">
</form>
<a href="/project/insertbudgetview" role="button">작성</a>

<script>
    function submitForm() {
        // Get the selected search type
        var searchTypeSelect = document.getElementById("searchType");
        var selectedSearchType = searchTypeSelect.value;

        // Get the input value
        var content = document.getElementById("content").value;

        // Check if the search type is "projectId" and the input value is not empty
        if (selectedSearchType === "projectId" && content !== "") {
            // Construct the URL
            var baseUrl = "/project/listbudget";
            var searchUrl = baseUrl + "?projectId=" + content;

            // Redirect to the constructed URL
            window.location.href = searchUrl;
        }

        if (selectedSearchType === "name" && content !== "") {
            // Construct the URL
            var baseUrl = "/project/listbudget";
            var searchUrl = baseUrl + "?name=" + content;

            // Redirect to the constructed URL
            window.location.href = searchUrl;
        }
    }
</script>
</body>
</html>