<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>제작예산 리스트</title>

    {{>layout/header}}
</head>

<body>
{{>layout/sidebar}}

{{>layout/topbar}}
<div class="container">
<h1>예산서 현황</h1>
    <form action="/project/budget" method="GET" >
            <table border="1" cellpadding="1" cellspacing="1">
                <ul>

                    <tr>
                        <td>항목이름</td>
                        <td>프로젝트아이디</td>
                    </tr>

                    {{#selectListBudget}}
                        <tr>
                            <td><a href="/project/{{budget_id}}/selectbudget">{{budget_name}}</a></td>
                            <td>{{project_id}}</td>
                        </tr>
                    {{/selectListBudget}}
                </ul>
            </table>
    </form>

    <div class="container1">
        <a href="/project/insertbudgetview" role="button">작성</a>&nbsp;&nbsp;
        <a href="/project/budget" role="button">목록으로 </a>&nbsp;&nbsp;
        <a href="/index">홈 페이지</a>&nbsp;&nbsp;
    </div>

{{>layout/paging}}

<br/>
    <div class="container2">
            <form action="/project/budget" method="GET">
                <select id="searchType" name="searchType">
                    <option value="all">선택</option>
                    <option value="title">제작예산서 이름</option>
                    <!-- 필요한 항목 추가 -->
                </select>

                <input type="text" id="search" name="search" placeholder="검색">
                <input type="submit" value="검색">
            </form>
    </div>

<script>
    var url = "/project/budget";
</script>
    {{>layout/footer}}
<script src="/static/js/search.js">
</script>

</div>
{{>layout/bootstrapjs}}
</body>
</html>

