<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>프로젝트 리스트</title>
</head>
<body>
<h1>프로젝트 현황</h1>
<table border="1" cellpadding="1" cellspacing="1">
    <ul>
        <tr>
            <td>기획명</td>
            <td>기획번호</td>
            <td>기획번호</td>
            <td>작성자</td>
            <td>작성일</td>
            <td>기획시작</td>
            <td>기획(예상)종료</td>
            <td>기획상태</td>
            <td>종료사유</td>

        </tr>
        {{#selectListProject}}
            <tr>
                <td><a href="/project/{{project_id}}/selectproject">{{project_name}}</a></td>
                <td>{{project_num}}</td>
                <td>{{project_name}}</td>
                <td>{{project_writer}}</td>
                <td>{{project_date}}</td>
                <td>{{string_start_date}}</td>
                <td>{{string_end_date}}</td>
                <td>{{project_state}}</td>
                <td>{{project_reason}}</td>
            </tr>
        {{/selectListProject}}
    </ul>
</table>
<a href="/project/insertprojectview" role="button">작성</a>
<a href="/project/project">목록</a>  <!-- 목록의 url 주소값은 컨트롤러 주소와 동일 -->
<a href="/index">홈 페이지</a>

<!--페이징 처리 레이아웃-->
{{>layout/paging}}

<!--검색-->
<br/>
<form action="/project/project" method="GET">
    <select id="searchType" name="searchType">
        <option value="all">선택</option>
        <option value="title">프로젝트이름</option>
        <!-- 필요한 항목 추가 -->
    </select>
    <input type="text" id="search" name="search" placeholder="검색">

   <input type="submit" value="검색">
</form>

<script>
    <!--페이징처리를 위한 prefix url-->
    var url = "/project/project";

</script>
<script src="/static/js/search.js"></script>

<!--date 변수를 dateformat.js에 넘겨주는 링크-->
<script src="/static/js/dateformat.js"></script>

</body>
</html>