<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>제작 상세보기 </title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/static/js/delete.js"></script>
    {{>layout/header}}
</head>

<body id="page-top">
{{>layout/sidebar}}
{{>layout/topbar}}
<div id="div_box">
    <h1> 제작 상세보기</h1>
    <hr>
    <table board="1" cellpascing="0" cellpading="0">
        <tr>
            <td bgcolor="pink" width="70">제작인원 아이디 </td>
            <td align="left">{{selectProduce.pd_id}}</td>
        </tr>

        <tr>
            <td bgcolor="pink">이름</td>
            <td align="left">{{selectProduce.pd_name}}</td>
        </tr>

        <tr>
            <td bgcolor="pink">역할</td>
            <td align="left">{{selectProduce.role}}</td>
        </tr>

        <tr>
            <td bgcolor="pink">배역</td>
            <td align="left">{{selectProduce.casting}}</td>
        </tr>

        <tr>
            <td bgcolor="pink">기획아이디</td>
            <td align="left">{{selectProduce.project_id}}</td>
        </tr>

        <tr>
            <td bgcolor="pink">유저아이디</td>
            <td align="left">{{selectProduce.user_id}}</td>
        </tr>
    </table>
    <hr>
    <a href="/project/updateproduceview/{{selectProduce.pd_id}}">게시글 수정</a>&nbsp;&nbsp;&nbsp;
    <a href="/project/deleteproduce/{{selectProduce.pd_id}}"onclick="confirmDelete(event)">게시글 삭제</a>&nbsp;
    <a href="/project/produce">전체 목록 보기</a>
</div>
</body>
</html>