<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/static/js/delete.js"></script>
    {{>layout/header}}
</head>

<body id="page-top">
{{>layout/sidebar}}
{{>layout/topbar}}
<div id="div_box">
    <h1> {{selectBudget.budget_name}}</h1>
    <hr>
    <table board="1" cellpascing="0" cellpading="0">
        <tr>
            <td bgcolor="pink">기획명</td>
            <td align="left">{{selectBudget.project_name}}</td>
        </tr>

        <tr>
            <td bgcolor="pink">내용</td>
            <td align="left">{{selectBudget.budget_content}}</td>
        </tr>

        <tr>
            <td bgcolor="pink">금액</td>
            <td align="left">{{selectBudget.fomattedAmount}} 원</td>
        </tr>
    </table>
    <hr>
    <a href="/project/updatebudgetview/{{selectBudget.budget_id}}">게시글 수정</a>&nbsp;&nbsp;&nbsp;
    <a href="/project/deletebudget/{{selectBudget.budget_id}}" onclick="confirmDelete(event)">게시글 삭제</a>&nbsp;
    <a href="/project/budget">전체 목록 보기</a>
</div>
</body>
</html>