<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div id="div_box">
    <h1>게시글 상세보기</h1>
    <hr>
    <table board="1" cellpascing="0" cellpading="0">
            <tr>
                <td>기획명 <input  name="project_name" type="text" value="{{selectProject.project_name}}" readonly/></td>
                <td>기획번호 <input name="project_num" type="number" value="{{selectProject.project_num}}" readonly/></td>
            </tr>
            <tr><td colspan="2">콘셉트<textarea cols="50" rows="5" name="project_concept" readonly>{{selectProject.project_concept}}</textarea></td>
            <tr><td colspan="2">기획 안<textarea cols="50" rows="20"  name="project_content" readonly>{{selectProject.project_content}}</textarea></td>
            <tr><td colspan="2">시작일<input type="text" id="format1" name="project_start_date" readonly>
                           (예상)종료일<input type="text" id="format2" name="project_end_date" readonly>
                진행상태
                <select name="project_state">
                    <option {{selectProject.project_state}} selected>{{selectProject.project_state}}</option>
                </select>
            </td>
            </tr>

        </table>

    <hr>
    <a href="/project/updateprojectview/{{selectProject.project_id}}">게시글 수정</a>&nbsp;&nbsp;&nbsp;
    <a href="/project/deleteproject/{{selectProject.project_id}}">게시글 삭제</a>&nbsp;

    <a href="/project/project">전체 목록 보기</a>
</div>

<script>
    <!--2023-11-02 00:00:00 뒤에 시간값을 없애주기기 위해 변수에 값을 저장하고 js파일에 넘겨줌-->
    var dates = {date1 : '{{selectProject.project_start_date}}',
                 date2 :'{{selectProject.project_end_date}}'
                    };
</script>
<!--date 변수를 dateformat.js에 넘겨주는 링크-->
<script src="/static/js/dateformat.js"></script>
</body>
</html>