<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>수정-프로젝트</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/static/js/cu_alert.js"></script>

</head>
<body>
<form id="alert" action="/project/updateproject/{{selectProject.project_id}}" method="get">

    <table border="1" cellpadding="1" cellspacing="1">
        <tr>
            <td>수정할 기획명 <input class="field1" name="project_name" type="text" placeholder="기획명"/></td>
            <td>수정할 기획번호 <input class="field2" name="project_num" type="number" placeholders="기획번호"/></td>

        </tr>
    </table>
    <input type="submit" value="수정" onclick="mappingurl('/project/updateproject/{{selectProject.project_id}}','/project/project', 2,'수정')"/>
</form>
<a href="/project/project">전체 목록 보기</a>

</body>
</html>