<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>수정-예산</title>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/static/js/cu_alert.js"></script>
</head>
<body>
<form id="alert" action="/project/updatebudget/{{selectBudget.budget_id}}" method="get">

    <table border="1" cellpadding="1" cellspacing="1">
        <tr>
            <td>예산이름 <input class="field1" name="budget_name" type="text" placeholder="수정할 예산이름"/></td>
            <td>예산금액 <input class="field2" name="budget_amount" type="number" placeholders="수정할 예산금액"/></td>

        </tr>
    </table>
    <input type="submit" value="수정" onclick="mappingurl('/project/updatebudget/{{selectBudget.budget_id}}','/project/budget', 2,'수정')" />
</form>
<a href="/project/budget">전체 목록 보기</a>

</body>
</html>