<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>제작 수정</title>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    {{>layout/header}}
</head>
<body id="page-top">
{{>layout/sidebar}}
{{>layout/topbar}}

<!-- Content Wrapper -->
<div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">
            <div style="text-align: center; display: block; margin-top:50px;" >
                <h1 class="h2 mb-2 font-weight-bold text-gray-800" style="margin-top: 50px; text-align: center;">
                    제작인원 수정
                </h1>

            <!-- DataTales Example -->
            <div class="card shadow mb-4" style="margin-top: 50px; margin-left:150px; margin-right:150px;">
                <div class="card-body">
                    <form id="alert" action="/project/updateproduce/{{selectProduce.pd_id}}" method="get"
                          class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search ml-auto">
                        <input type="hidden" class="field1" name="project_id" value="{{selectProduce.project_id}}"/>
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th style="text-align: center;"><p>이름</p> <input class="field2" name="pd_name" type="text" value="{{selectProduce.pd_name}}"/></th>
                                <th style="text-align: center;"><p class="mr-3">역할</p>

                                    PD<input type="radio" class="radio mr-2" name="role" value="PD" {{#role}}{{#PD}}checked{{/PD}}{{/role}}>
                                    출연자<input type="radio" class="radio  mr-2" name="role" value="출연자" {{#role}}{{#출연자}}checked{{/출연자}}{{/role}}>
                                    편집<input type="radio" class="radio  mr-2" name="role" value="편집" {{#role}}{{#편집}}checked{{/편집}}{{/role}}>
                                    카메라<input type="radio" class="radio  mr-2" name="role" value="카메라" {{#role}}{{#카메라}}checked{{/카메라}}{{/role}}>
                                    기타<input type="radio" class="radio mr-2" name="role" value="기타" {{#role}}{{#기타}}checked{{/기타}}{{/role}}>

                                <th style="text-align: center;"><p>배역</p> <input class="field3" name="casting" type="text" value="{{selectProduce.casting}}"/></th>
                            </tr>
                            </thead>
                        </table>
                        <div class="d-flex justify-content-center align-items-center">
                            <input type="submit" value="수정" class="btn btn-success"
                                   onclick="mappingurl('/project/updateproduce/{{selectProduce.pd_id}}', 4,'수정')"/>&nbsp;&nbsp;
                            <a href="javascript:history.back()" role="button" class="btn btn-secondary">취소</a>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>
<!-- /.container-fluid -->
</div>
<!-- End of Main Content -->
{{>layout/footer}}
</div>
</div>
<!-- End of Content Wrapper -->
<script>
    var url="/project/produce";
        var radioButtonName = "role";
</script>
<script src="/static/js/cu_alert.js"></script>

{{>layout/bootstrapjs}}
</body>
</html>