<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판 리스트</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/static/js/cu_alert.js"></script>

    {{>layout/header}}
</head>
<body id="page-top">

{{>layout/sidebar}}

<!-- Content Wrapper -->
<div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">
        <!-- Begin Page Content -->
        <div class="container-fluid">
            <!-- Page Heading -->
            <h1 class="h3 mb-2 text-gray-800" style="margin-top: 50px;">회원현황</h1>

            <!-- DataTales Example -->
            <div class="card shadow mb-4" style="margin-top: 50px;">
                <div class="card-header py-3">

                </div>
                <form id="alert" method="get" action="/admin/adduser">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th style="text-align: center;" >회원ID</th>
                                <th style="text-align: center;"><input class="field1" type = text name="user_id" style="margin: 0 auto; display: block; text-align: center;" /></th>
                            </tr>
                            </thead>
                        </table>
                        <div style="text-align: center">
                            <button type="submit" class="btn btn-primary" onclick="mappingurl('/admin/adduser',1,'추가')">등록</button>
                            <button class="btn btn-secondary">
                                <a href="/admin/user" style="text-decoration: none; color: white;">취소</a>
                            </button>
                        </div>
                    </div>

                </div>
                </form>
            </div>

            <br/>
        </div>

        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>
        <!-- .container-fluid -->
    </div>
    <!-- End of Main Content -->
    {{>layout/footer}}
</div>
<!-- End of Content Wrapper -->
<script src="/static/js/cu_alert.js"></script>
{{>layout/bootstrapjs}}
</body>
</html>