<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

</head>
<body>
<form id="alert" action="/admin/insertdpt" method="get">
    <table border="1" cellpadding="1" cellspacing="1">
        <tr>
            <td>부서명 <input class="field1" name="dpt_name" type="text" placeholder="부서이름"/></td>
            <td>부서기능 <input class="field2" name="dpt_function" type="text" placeholder="부서역할"/></td>
            <td>기업<input type="text" placeholder="여기는 자동선택되야함" readonly></td>
        </tr>
    </table>
    <input type="submit" value="등록" onclick="mappingurl('/admin/insertdpt','/admin/department',2,'작성')"/>
</form>
<a href="/admin/department">취소</a>

<br/>현재까지 버그<br/>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/static/js/cu_alert.js"></script>
</body>
</html>