<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판 리스트</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    {{>layout/header}}
</head>
<div id="page-top">
    {{>layout/sidebar}}
    {{>layout/topbar}}
    <div id="content-wrapper" class="d-flex flex-column">
        <div class="container">


            <div class="card shadow mb-4" style="margin-top: 150px; margin-right: 300px; margin-left: 300px">
                <div class="card-header py-3">

                <div style="display: flex; justify-content: center">
                    <form id="alert" action="/admin/updatedpt" method="get">
                        <div class="mb-3" style="text-align: center; display: inline-block;">
                            <strong>부서명</strong>
                            <input id="formGroupExampleInput" class="field1 card shadow mb-4" name="dpt_name" type="text" style="width: 90%; text-align: center" value="{{selectDpt.dpt_name}}"/>
                        </div>

                        <div style="text-align: center; display: inline-block;">
                            <strong>부서기능</strong>
                            <input id="formGroupExampleInput" class="field2 card shadow mb-4" name="dpt_function" type="text" style="width: 90%; text-align: center " value="{{selectDpt.dpt_function}}" />
                        </div>

                        <div class="mb-2" style="text-align: center">
                            <button type="submit" class="btn btn-primary"
                                    onclick="mappingurl('/admin/{{selectDpt.dpt_id}}/updatedpt',2,'수정')">등록
                            </button>
                            <button class="btn btn-secondary " onclick="location.href='/admin/department'">취소가 아니고뒤로가기되야함
                            </button>
                        </div>
                    </form>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
    {{>layout/footer}}
</div>

<script>
    var url = "/admin/department";
</script>
<script src="/static/js/cu_alert.js"></script>


{{>layout/bootstrapjs}}

</body>
</html>