<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

</head>
<body>
<table border="1" cellpadding="1" cellspacing="1">
    <tr>
        <td>회원ID <input name="user_id" type="text" value="{{selectUser.user_id}}" readonly/></td>
        <td colspan="2">성함 <input name="user_name" type="text" value="{{selectUser.user_name}}" readonly/></td>
    </tr>
    <tr>
        <td colspan="3">닉네임 <input name="nickname" type="text" value="{{selectUser.nickname}}" readonly/></td>
    </tr>
    <tr>
        <td colspan="3">핸드폰 <input name="phone" type="text" value="{{selectUser.phone}}" readonly/></td>
    </tr>
    <tr>
        <td colspan="3">E-mail <input name="email" type="text" value="{{selectUser.email}}" readonly/></td>
    </tr>
    <tr>
        <td colspan="3">우편번호 <input name="zip_code" type="text" value="{{selectUser.zip_code}}" readonly/></td>
    </tr>
    <tr>
        <td colspan="3">주소 <input name="address1" type="text" value="{{selectUser.address1}}" readonly/></td>
    </tr>
    <tr>
        <td colspan="3">주소2 <input name="address2" type="text" value="{{selectUser.address2}}" readonly/></td>
    </tr>
    <tr>
        <td colspan="3">상세주소 <input name="address3" type="text" value="{{selectUser.address3}}" readonly/></td>
    </tr>
    <tr>
        <td>기업회원여부 <input name="company_user" type="text" value="{{selectUser.company_user}}" readonly/></td>
        <td>회원등급 <input name="grade" type="text" value="{{selectUser.grade}}" readonly/></td>
        <td>권한 <input name="authority" type="text" value="{{selectUser.authority}}" readonly/></td>
    </tr>
    <tr>
        <td colspan="3">가입일 <input name="sign_date" type="text" value="{{selectUser.sign_date}}" readonly/></td>
    </tr>
    <tr>
        <td colspan="3">소속회사 <input name="company_name" type="text" value="{{selectCompany.company_name}}" readonly/></td>
    </tr>
    <tr>
        <td colspan="3">부서 <input name="dpt_name" type="text" value="{{selectDpt.dpt_name}}" readonly/></td>
    </tr>

</table>

<a href="/admin/user">목록</a>
<a href="/admin/{{selectUser.user_id}}/updateuserview">수정</a>
<a href="javascript:void(0);" onclick="deleteAlert('/admin/{{selectUser.user_id}}/deleteuser')">삭제</a>



<br/>현재까지 버그<br/>

<script src="/static/js/deletepost.js"></script>
</body>
</html>