<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원(user)</title>
    {{>layout/header}}
</head>
<body>
<div id="page-top">
{{>layout/sidebar}}
{{>layout/topbar}}

<!-- Content Wrapper -->
<div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">

        <!-- Begin Page Content -->
        <div class="container-fluid">
            <h1 class="h3 mb-2 text-gray-800" style="margin-top: 50px; text-align: center;" >
                회원 현황
            </h1>

        <!-- DataTales Example -->
        <div class="card shadow mb-4" style="margin-top: 50px; margin-right: 300px; margin-left: 300px">
            <div class="card-header py-3" >
            </div>

        <!-- 테이블 시작 -->
    <div class="card-body">
        <table class="table" width="100%" cellspacing="0">
            <thead class="bg-gradient-primary">
                <tr>
                <th style="text-align:center; color:white;">
                    <strong>회원ID </strong><input name="user_id" type="text" value="{{selectUser.user_id}}" readonly/></th>
                </tr>
            <thead>
            <tbody style="text-align: center;">
                <tr>
                    <td>
                        이름&nbsp; <input name="user_name" type="text" value="{{selectUser.user_name}}" readonly/>&nbsp;&nbsp;
                        닉네임<input name="nickname" type="text" value="{{selectUser.nickname}}" readonly/><br>
                        핸드폰<input name="phone" type="text" value="{{selectUser.phone}}" readonly/>&nbsp;&nbsp;
                        E-mail<input name="email" type="text" value="{{selectUser.email}}" readonly/>
                    </td>
                </tr>
            </tbody>
        </table><br>

        <table class="table">
            <thead class="bg-gradient-primary">
            <tr>
                <th style="text-align:center;  color:white;">
                    <strong>기업회원여부</strong><input name="company_user" type="text" value="{{selectUser.company_user}}" readonly/></th>
            </tr>
            <thead>
            <tbody style="text-align: center;">
            <tr>
                <td>
                    우편번호<input name="zip_code" type="text"  style="width: 100px;" value="{{selectUser.zip_code}}" readonly/><br/>
                    주소&nbsp;<input name="address1" type="text"  style="width: 480px;"value="{{selectUser.address1}}" readonly/> <br/>
                    주소2<input name="address2" type="text" value="{{selectUser.address2}}" readonly/>&nbsp;&nbsp;
                    상세주소<input name="address3" type="text" value="{{selectUser.address3}}" readonly/>
                </td>
            </tr>
            </tbody>
        </table> <br>

        <table class="table">
            <thead class="bg-gradient-primary">
            <tr>
                <th style="text-align:center; color:white;">
                    <strong>권한 </strong><input name="authority" type="text" value="{{selectUser.authority}}" readonly/>
                </th>
            </tr>
            <thead>
            <tbody style="text-align: center;">
            <tr>
                <td>
                    회원등급<input name="grade" type="text" value="{{selectUser.grade}}" readonly/>&nbsp;&nbsp;
                    가입일 <input name="sign_date" type="text" value="{{selectUser.sign_date}}" readonly/><br/>
                    소속회사<input name="company_name" type="text" value="{{selectCompany.company_name}}" readonly/>&nbsp;&nbsp;
                    부서&nbsp;&nbsp;<input name="dpt_name" type="text" value="{{selectDpt.dpt_name}}" readonly/>
                </td>
            </tr>
            </tbody>
        </table>
        <br>
            <div style="text-align: center">
                <a href="/admin/user" class="btn btn-primary">목록</a>&nbsp;&nbsp;
                <a href="/admin/{{selectUser.user_id}}/updateuserview" class="btn btn-success">수정</a>&nbsp;&nbsp;
                <a href="javascript:void(0);" class="btn btn-danger" onclick="deleteAlert('/admin/{{selectUser.user_id}}/deleteuser')">삭제</a>
            </div>
                    </div>
             </div> <!-- 카드 끝 -->
        </div>
    </div>
</div><!-- 끝 DataTales Example -->

    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
    <!-- /.container-fluid -->
</div>
<!-- End of Main Content -->
{{>layout/footer}}
</div>
<!-- End of Content Wrapper -->
<script>
    var url = "/admin/user";
</script>

<script src="/static/js/deletepost.js"></script>
{{>layout/bootstrapjs}}
</body>
</html>
