<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>임시 메인페이지</h1>
    <br/>

<a href="/cs/notice">공지사항</a>
<a href="/cs/qna">문의</a>
<a href="/admin/department">부서현황</a>
<a href="/creator/creater">크레이터</a>
<a href="/project/project">프로젝트</a>
<a href="/project/budget">제작예산</a>
<a href="/project/produce">제작인원</a>
<a href="/scenario/scenario">시나리오</a>
<a href="/scene/scene">스토리보드</a>
<a href="/scene/actor">출연자정보</a>
<a href="/script/scriptpaper">스크립트 페이퍼</a>
<a href="/script/timetable">타임테이블</a>
<a href="/plan/schedule_day">일일촬영계획</a>
<a href="/login/companysignup">기업 회원가입</a>
</body>
</html>