
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>한국 달력</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
        table {
            width: 80%;
            margin: 0 auto;
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid #ccc;
            padding: 8px;
            text-align: center;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
<h1>한국 달력</h1>
<table>
    <tr>
        <th>년</th>
        <th>월</th>
        <th>일</th>
        <th>이벤트</th>
    </tr>
    {{#event}}
        <tr>
            <td>{{year}}</td>
            <td>{{month}}</td>
            <td>{{day}}</td>
            <td>{{event}}</td>
        </tr>
    {{/event}}
</table>
<script>
    var currentDate = new Date();
    document.write("<p>Current Date: " + currentDate.getFullYear() + "년 " + (currentDate.getMonth() + 1) + "월 " + currentDate.getDate() + "일</p>");
</script>

</body>
</html>



