<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>캘린더</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/static/js/calendar.js"></script>
</head>

<body>
 달력 폼
 <script type="text/template" id="calendar-template">
<div id="calendar">

   <!-- <h2>{1{year}} - {1{month}}</h2>-->
     <table>
         <tr>
             <th>Sun</th>
             <th>Mon</th>
             <th>Tue</th>
             <th>Wed</th>
             <th>Thu</th>
             <th>Fri</th>
             <th>Sat</th>
         </tr>
         {{#days}}
             <tr>
                 {{#day}}
                     <td>{{.}}</td>
                 {{/day}}
             </tr>
         {{/days}}
     </table>

 </div>
 </script>
</body>
</html>