<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- ... 이전 코드 ... -->

    <!-- 페이징 처리 레이아웃 -->
    <ul class="pagination">
        {{#hasPre}}
            <li class="page-item">
                <a class="page-link" href="/{{prefixUrl}}/{{pageRink}}{{prePage}}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        {{/hasPre}}

        {{#pagelist}}
            {{#currentPageFlag}}
                <li class="page-item active"><span class="page-link">{{currentPage}}</span></li>
            {{/currentPageFlag}}
            {{^currentPageFlag}}
                <li class="page-item"><a class="page-link" href="/{{prefixUrl}}/{{pageRink}}{{currentPage}}">{{currentPage}}</a></li>
            {{/currentPageFlag}}
        {{/pagelist}}

        {{#hasNext}}
            <li class="page-item">
                <a class="page-link" href="/{{prefixUrl}}/{{pageRink}}{{nextPage}}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        {{/hasNext}}
    </ul>
    <!-- 페이징 처리 레이아웃 끝 -->
</div>
