<!--이전 버튼-->

{{#paging}}
    {{#hasPre}}
        <!--{!{검색어유무에따른url}}/{!{실제페이지번호}}-->
        <a href="/{{prefixUrl}}/{{pageRink}}{{prePage}}" class="btn btn-primary">이전</a>
    {{/hasPre}}
{{/paging}}

<!-- 페이지 번호를 반복문으로 생성 -->
{{#pagelist}}
    <!--현재페이지는 링크가 없고 강조표시-->
    {{#currentPageFlag}}
        <strong class="btn btn-primary">{{currentPage}}</strong>
    {{/currentPageFlag}}
    <!--현재 페이지가 아닌 숫자들은 해당페이지로 이동하는 링크생성-->

    {{^currentPageFlag}}
        <a href="/{{prefixUrl}}/{{pageRink}}{{currentPage}}" class="btn btn-info">{{currentPage}}</a>
    {{/currentPageFlag}}
{{/pagelist}}

<!--다음페이지 버튼-->
{{#paging}}
    {{#hasNext}}
        <a href="/{{prefixUrl}}/{{pageRink}}{{nextPage}}" class="btn btn-primary">다음</a>
    {{/hasNext}}
{{/paging}}


