<!--사용설명서-->
<!--사이드바 항목을 만들고
아이템의 '>' 버튼을 눌렀을때 하위항목이 나오게 하려면

소주제의 id와  data-target 속성의 값이 동일해야함.
data-target의 값과 같은 id를 작동시킴-->
<div id="wrapper">
<!-- 왼쪽 사이드 바 -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/index">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">유튜브 크리에이터</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="/index">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>대쉬보드</span></a>
    </li>
    <!-- 나누는 줄 -->
    <hr class="sidebar-divider">


    <li class="nav-item active">
        <a class="nav-link" href="/creator/creater">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>크리에이터</span></a>
    </li>


    <!-- 소주제(컨트롤러) -->
    <div class="sidebar-heading">
        프로젝트
    </div>

    <!-- 메뉴 아이템 -->
    <li class="nav-item"> <!--큰주제-->
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
           aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-cog"></i>
            <span>기획</span>
        </a>
        <!--소주제-->
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="/project/project">기획현황</a>
                <a class="collapse-item" href="/project/insertprojectview">기획작성</a>
            </div>
        </div>
    </li>

    <!-- 메뉴 아이템 -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
           aria-expanded="true" aria-controls="collapseUtilities">
            <i class="fas fa-fw fa-wrench"></i>
            <span>시나리오</span>
        </a>
        <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
             data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="/scenario/scenario">시나리오</a>
                <a class="collapse-item" href="/scenario/insertscenarioview">시나리오 작성</a>
                <hr/>  <!--줄나눈기-->
                <a class="collapse-item" href="/scene/scene">스토리보드</a>
                <a class="collapse-item" href="/scene/insertsceneview">스토리보드 작성</a>
                <hr/>  <!--줄나눈기-->
                <a class="collapse-item" href="/script/scriptpaper">스크립트페이퍼</a>
                <a class="collapse-item" href="/script/insertscriptpaperview">스크립트페이퍼 작성</a>
            </div>
        </div>
    </li>


    <!-- 촬영일정 -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities1"
           aria-expanded="true" aria-controls="collapseUtilities">
            <i class="fas fa-fw fa-wrench"></i>
            <span>일정관리</span>
        </a>
        <div id="collapseUtilities1" class="collapse" aria-labelledby="headingUtilities"
             data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="/calendar">일정표</a>
                <a class="collapse-item" href="/plan/schedule_day">일일 촬영계획</a>
                <a class="collapse-item" href="/log/log">제작일지</a>
            </div>
        </div>
    </li>


    <!-- 메뉴주제 -->
    <div class="sidebar-heading">
        우리회사
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#mycompany"
           aria-expanded="true" aria-controls="collapsePages">
            <i class="fas fa-fw fa-folder"></i>
            <span>관리자</span>
        </a>
        <div id="mycompany" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="/admin/department">부서</a>
                <a class="collapse-item" href="/admin/user">직원</a>
            </div>
        </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- 메뉴주제 -->
    <div class="sidebar-heading">
        고객지원
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
           aria-expanded="true" aria-controls="collapsePages">
            <i class="fas fa-fw fa-folder"></i>
            <span>고객지원</span>
        </a>
        <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="/cs/notice">공지사항</a>
                <a class="collapse-item" href="/cs/qna">문의사항</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Charts -->
    <li class="nav-item">
        <a class="nav-link" href="../../../../../../../Downloads/startbootstrap-sb-admin-2-gh-pages/startbootstrap-sb-admin-2-gh-pages/charts.html">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>마이페이지</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

    <!-- Sidebar Message -->
    <div class="sidebar-card d-none d-lg-flex">
        <img class="sidebar-card-illustration mb-2" src="#" alt="없음">
        <p class="text-center mb-2"><strong>SB Admin Pro</strong> is packed with premium features, components, and more!</p>
        <a class="btn btn-success btn-sm" href="https://startbootstrap.com/theme/sb-admin-pro">Upgrade to Pro!</a>
    </div>

</ul><!--이부분 시작태그가없다고하는데 확인 요망-->
