<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    {{>layout/header}}
</head>

<body id="page-top">
{{>layout/sidebar}}
{{>layout/topbar}}
<form id="alert" action="/scene/insertscene" method="get" >
    <table border="1" cellpadding="1" cellspacing="1">
        <tr>
            <td>기획명
            <select id="fk1" name="project_id"></select></td>
            <td>시나리오
            <select id="fk2" name="scenario_id" class="field1"></select></td>
            <td>씬 번호<input class="int1" name="scene_num" type="number" placeholder="미입력시 자동생성" ></td>
            <td>첨부파일<input id="fileInput"  name="file" type="file"   placeholder="파일을 첨부하세요" ></td>

            <p id="errorText" style="color: red;"></p>
        </tr>
        <tr>
            <td>장면 요약<input  name="scene_content" type="text" placeholder="스토리보드 내용을 요약작성해 주세요" class="field2"/></td>
        </tr>
        <tr>
            <td>카메라 장면 : 첨부파일 등록하게끔 만들어야함</td>
            <td colspan="2"><textarea  name="story_board" cols="50" rows="20" placeholder="스토리보드 내용" class="field3"></textarea></td>
            <td>촬영장소 <input  name="scene_place" type="text" class="field4"/></td>
        </tr>
    </table>

    <input id="submit-button" type="submit" value="등록" onclick="mappingurl('/scene/insertscene','/scene/scene',4,'작성',1)">
</form>
<a href="/scene/scene">취소</a>

<!--옵션 태그에 필요한 js-->
<script>
    var jsonValue = '{{{fkList}}}';
    <!--select 옵션 name값을 'cu_alert.js'에 보내주기 위한 변수 값/ 이게없으면 제출이 안됨-->
    var selectName = "scenario_id";
</script>
<script src="/static/js/dropdown.js"></script>
<script src="/static/js/cu_alert.js"></script>
</body>
</html>