<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <table border="1" cellpadding="1" cellspacing="1">
        <tr>
            <td>시나리오<input name="scenario_id" type="text" readonly value="{{selectScene.scenario_id}}"></td>
            <td>씬 번호<input name="scene_num" type="number" value="{{selectScene.scene_num}}" readonly></td>
            <td>첨부파일<input name="file" type="text" value="{{file.file_path}}" readonly></td>

        </tr>
        <tr>
            <td>장면 요약<input name="scene_content" type="text" value="{{selectScene.scene_content}}" readonly/></td>
        </tr>
        <tr>
            <td><img src="{{file.file_path}}"></td>
            <td colspan="2"><textarea name="story_board" cols="50" rows="20" readonly>{{selectScene.story_board}}</textarea></td>
            <td>촬영장소 <input name="scene_place" type="text" value="{{selectScene.scene_place}}" readonly/></td>
        </tr>
    </table>

<a href="/scene/scene">목록</a>
    <a href="/scene/{{selectScene.scene_id}}/updatesceneview">수정</a>
    <a href="/scene/{{selectScene.scene_id}}/deletescene">삭제</a>

</body>
</html>