<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>스토리보드</title>
    {{>layout/header}}
</head>

<body id="page-top">
{{>layout/sidebar}}
{{>layout/topbar}}
<!-- Content Wrapper -->
<div id="content-wrapper" class="d-flex flex-column">

<!-- Main Content -->
<div id="content">

        <!-- DataTales Example -->
        <div class="card shadow mb-4" style="margin-top: 50px;">
            <div class="card-header py-3">

                <!-- 바디시작 -->
<div class="card-body">
    <div class="table-responsive">

      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
        <tr>
            <td>시나리오
                <input name="scenario_id" type="text" readonly value="{{selectScene.scenario_id}}"/></td>
            <td>씬 번호
                <input name="scene_num" type="number" value="{{selectScene.scene_num}}" readonly/></td>
            <!--<button value="{1{file.file_id}}">파일 삭제</button>-->
        </tr>

        <tr>
            <td>장면 요약
                <input name="scene_content" type="text" value="{{selectScene.scene_content}}" readonly/></td>
            <td>첨부파일
                <input name="file" type="text" value="{{file.file_path}}" readonly /></td>
        </tr>

        <tr>
            <td> <img src="{{file.file_path}}" style="width: 450px; height: 420px;"></td>
            <td colspan="2">
            <textarea name="story_board" cols="50" rows="20" readonly>{{selectScene.story_board}}</textarea></td>
        </tr>

        <tr>
            <td>촬영장소<input name="scene_place" type="text" value="{{selectScene.scene_place}}" readonly/></td>
        </tr>
            </thead>
        </table>
                </div>
            </div> <!-- 바디 끝 -->

        </div>
    </div> <!--  DataTales  끝 -->


<!-- 서브게시판 시작 -->
    <!-- DataTales Example -->
    <div class="card shadow mb-4" style="margin-top: 50px;">
        <div class="card-header py-3">
            <div class="card-body">
                <div class="table-responsive">
    <!--서브 게시판 / 스크립트페이퍼-->
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <ul>
            <tr>
                <td style="text-align: center;">씬 번호</td>
                <td style="text-align: center;">영상제목</td>
                <td style="text-align: center;">촬영일자</td>
                <td style="text-align: center;">콘티</td>
            </tr>
            {{#selectListScriptPaper}}
                <tr>
                    <td style="text-align: center;">{{scene_id}}<!--씬 번호가 들어가야함(조인)--></td>
                    <td style="text-align: center;"><a href="/script/{{script_id}}/selectscriptpaper">{{video_name}}</a></td>
                    <td style="text-align: center;">{{video_date}}</td>
                    <td style="text-align: center;">{{conti}}</td>
                </tr>
            {{/selectListScriptPaper}}
        </ul>
    </table>
        <!--서브게시판 페이징-->
    <div class="d-flex justify-content-center align-items-center">
        <span></span>
        <span>
            {{>layout/paging}}</span>
    </div>  <!-- 페이징 끝 -->

                </div>
             </div>
        </div>
    </div><!--서브게시판 / end-->


    <!--서브게시판 검색-->
    <form action="/script/scriptpaper" method="GET" class="d-flex justify-content-end form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search ml-auto">
        <div class="input-group">
        <select id="searchType" name="searchType">
            <option value="all">선택</option>
            <option value="title">스크립트 번호</option>
            <option value="content">액션내용</option>
            <!-- 필요한 항목 추가 -->
        </select>
        <input type="text" id="search" name="search"
               style="width: 150px;" class="form-control bg-light border-0 small" placeholder="검색"
               aria-label="Search" aria-describedby="basic-addon2">
        <input type="submit" class="btn btn-primary" value="검색">
        </div>
    </form> <!--서브게시판 검색 / end-->
<br/>
        <div class="d-flex justify-content-center align-items-center">
            <a style="margin-left: 20px" href="/scene/scene" role="button" class="btn btn-info">목록</a>
            <a style="margin-left: 20px" href="/scene/{{selectScene.scene_id}}/updatesceneview"
                role="button" class="btn btn-success">수정</a>
            <a style="margin-left: 20px" href="javascript:void(0);" role="button" class="btn btn-secondary"
               onclick="deleteAlert('/scene/{{selectScene.scene_id}}/deletescene')">삭제</a>
        </div> <!-- 별도 버튼 끝 -->

</div>

    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

{{>layout/footer}}
</div>

<script src="/static/js/deletepost.js"></script>

<!--서브게시판 검색 js-->
<script>
    var url = "/scene/{{selectScene.scene_id}}/selectscene";
</script>
<script src="/static/js/search.js"></script>

<!-- 페이징 처리와 관련된 부트스트랩 라이브러리-->
<script src="/static/bootstrap/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="/static/bootstrap/vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- 페이징 처리와 관련된 부트스트랩 라이브러리 -->
<script src="/static/bootstrap/js/demo/datatables-demo.js"></script>

{{>layout/bootstrapjs}}
</body>
</html>