<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<form id="alert" method="get" action="/scene/{{updateScene.scene_id}}/updatescene" >
    <input id="pk" type="hidden" name="scene_id" value="{{updateScene.scene_id}}">

<table border="1" cellpadding="1" cellspacing="1">
    <tr>
        <td>시나리오<input name="scenario_id" type="text" readonly value="{{updateScene.scenario_id}}"></td>
        <td>씬 번호<input class="int1" name="scene_num" type="number" value="{{updateScene.scene_num}}"></td>
        <td>첨부파일<input id="updateFile" name="newfile" type="file" placeholder="파일을 첨부하세요">
            <input id="deletefile" type="button" onclick="deleteFile()" value="파일삭제?" />
        </td>

    </tr>
    <tr>
        <td>장면 요약<input class="field1" name="scene_content" type="text" value="{{updateScene.scene_content}}"/></td>
    </tr>
    <tr>

        <td colspan="2"><textarea class="field2" name="story_board" cols="50" rows="20">{{updateScene.story_board}}</textarea></td>
        <td>촬영장소 <input class="field3" name="scene_place" type="text" value="{{updateScene.scene_place}}"/></td>
    </tr>
</table>
    <input type="submit" value="수정"  onclick="mappingurl('/scene/{{updateScene.scene_id}}/updatescene',3,'수정',1)"/>

</form>
<a href="/scene/scene">목록</a>

<script src="/static/js/cu_alert.js"></script>
<script src="/static/js/uploadFile.js"></script>
</body>
</html>