<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<form action="/cs/insertnotice" method="get">
<table border="1" cellpadding="1" cellspacing="1">
    <tr>
        <td>제목</td>
        <td><input name="title" type="text"><td>
    </tr>
    <tr>
        <td colspan="2"><textarea name="content" cols="50" rows="20"></textarea></td>
    </tr>
</table>
    <input type="submit" value="등록">
</form>

</body>
</html>