<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/static/js/cu_alert.js"></script>
    {{>layout/header}}
</head>

<body id="page-top">
{{>layout/sidebar}}
{{>layout/topbar}}
<form id="alert" action="/cs/insertqna" method="get">
    <table border="1" cellpadding="1" cellspacing="1">
        <tr>
            <td>제목</td>
            <td><input class="field1" name="qna_title" type="text"><td>
        </tr>
        <tr>
            <td colspan="2"><textarea class="field2" name="qna_content" cols="50" rows="20"></textarea></td>
        </tr>
    </table>
    <input type="submit" value="등록" onclick="mappingurl('/cs/insertqna',2,'작성')">
</form>
<a href="/cs/qna">취소</a>

</body>
</html>