<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판 리스트</title>
</head>
<body>
<h1>게시판 리스11트</h1>
    <table border="1" cellpadding="1" cellspacing="1">
        <ul>
            {{#selectListNotice}}
                <tr>
                    <td>{{notice_id}}</td>
                    <td><a href="cs/selectnotice1">{{notice_title}}</a></td>
                    <td>{{notice_writer}}</td>
                    <td>{{notice_date}}</td>
                    <td>{{notice_cnt}}</td>
                </tr>
            {{/selectListNotice}}
        </ul>
    </table>
<a href="insertnotice" role="button">글 작성</a>

</body>
</html>