<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판 리스트</title>
    {{>layout/header}}
</head>
<body id="page-top">

{{>layout/sidebar}}

<!-- Content Wrapper -->
<div id="content-wrapper" class="d-flex flex-column">
    <!--d-flex flex-column: flex박스 스타일을 적용한 클래스 : 요소들 수평이나 수직으로 배치하고 간격을 조절하는 등의 작업 간편화
       content-wrapper: 컨텐츠 섹션 감싸고  그 안의 요소들을 유연하게 배치하고 정렬 주로  다양한 화면 크기와 디바이스에 대응하는 반응형 디자인을 구현하는 데 유용-->

    <!-- Main Content -->
    <div id="content">

        <!-- Begin Page Content -->
        <div class="container-fluid">  <!--얘가 없으면 전체적으로 다 위로 올라가고 푸터가 사이드 옆쪽으로 붙어버림 -->
            <!--container-fluid:  Bootstrap 프레임워크를 사용하여 생성된 컨테이너로, 웹 페이지의 내용을 감싸는 역할, 화면 폭에 맞게 자동으로 넓어져서 브라우저의 너비에 따라 반응형으로 조절-->
            <!--mb-2:하단의 여백 -->
            <!-- Page Heading -->
            <div style="text-align: center; display: block; margin-top:100px;" >
                <h1 class="h3 mb-2 text-gray-800"  >공지사항</h1><!--공지사항이 너무 천장에 붙어있어서 margin-top: 50px을 줘서 내렸습니다-->
            </div>
            <!-- <p class="mb-4">게시판 설명 넣는곳 <a target="_blank" href="https://datatables.net">이곳에 링크 넣으세요</a>.</p>-->


            <!-- DataTales Example -->
            <div class="card shadow mb-4" style="margin-top: 70px; margin-right: 300px; margin-left: 300px;">
                <div class="card-header py-3" >
                    <!--<h6 class="m-0 font-weight-bold text-primary">공지사항</h6>-->

                    <div style="margin-left: 20%; margin-top: 5%;">
                        <div style="display: inline-block;">
                            <div class="mb-3" style="text-align: center; display: inline-block;">
                                <label for="formGroupExampleInput" class="form-label" style="display: block;"><strong>제목</strong></label>
                            </div>

                            <div class="mb-3" style="text-align: center; display: inline-block;">
                                <input id="formGroupExampleInput" class="card shadow mb-4" name="qna_title" type="text" value="{{selectQnA.qna_title}}"  readonly style="width: 90%; ">
                            </div>
                        </div>


                    </div>

                    <div class="mb-3" style="text-align: center">
                        <label for="formGroupExampleInput" class="form-label" style="display: block;"></label>
                        <textarea type="text"  id="formGroupExampleInput" class="card shadow mb-4" name="qna_content" readonly style="height: 30vh; width: 60%;  display: block; margin: 0 auto;">{{selectQnA.qna_content}}</textarea>
                    </div>


                    <div style="text-align: center">
                        <a href="/cs/qna" class="btn btn-primary">목록</a>
                        <a href="/cs/{{selectQnA.qna_id}}/updateqnaview" class="btn btn-success">수정</a>
                        <a href="javascript:void(0);" class="btn btn-danger" onclick="deleteAlert('/cs/{{selectQnA.qna_id}}/deleteqna')">삭제</a>
                    </div>

                </div>
            </div>


        </div>


        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>
        <!-- /.container-fluid -->




    </div>
    <!-- End of Main Content -->

    {{>layout/footer}}

</div>
<!-- End of Content Wrapper -->

<script>
    var url = "/cs/notice";
</script>
<script src="/static/js/deletepost.js"></script>




{{>layout/bootstrapjs}}
</body>
</html>
