<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판 리스트</title>
    {{>layout/header}}
</head>
<body id="page-top">

{{>layout/sidebar}}

<!-- Content Wrapper -->
<div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">
        <!-- Begin Page Content -->
        <div class="container-fluid">
            <div style="text-align: center; display: block; margin-top:100px;" >
                <h1 class="h3 mb-2 text-gray-800">문의사항 상세보기</h1>
            </div>
            <!-- DataTales Example -->
            <div class="card shadow mb-4" style="margin-top: 70px; margin-right: 300px; margin-left: 300px;">
                <div class="card-header py-3" >

                    <div style="margin-left: 40%; margin-top: 5%;">
                        <div style="display: inline-block;">
                            <div class="mb-3" style="text-align: center; display: inline-block;">
                                <label for="formGroupExampleInput" class="form-label" style="display: block;"><strong>제목</strong></label>
                            </div>

                            <div class="mb-3" style="text-align: center; display: inline-block;">
                                <input id="formGroupExampleInput" class="card shadow mb-4" name="qna_title" type="text" value="{{selectQnA.qna_title}}"  readonly style="width: 90%; text-align:center">
                            </div>
                        </div>
                    </div>

                    <div class="mb-3" style="text-align: center">
                        <label for="formGroupExampleInput" class="form-label" style="display: block;"></label>
                        <textarea type="text"  id="formGroupExampleInput" class="card shadow mb-4" name="qna_content" readonly style="height: 30vh; width: 60%;  display: block; margin: 0 auto;">{{selectQnA.qna_content}}</textarea>
                    </div>

                    <div style="text-align: center">
                        <a href="/cs/qna" class="btn btn-primary">목록</a>
                        <a href="/cs/{{selectQnA.qna_id}}/updateqnaview" class="btn btn-success">수정</a>
                        <a href="javascript:void(0);" class="btn btn-danger" onclick="deleteAlert('/cs/{{selectQnA.qna_id}}/deleteqna')">삭제</a>
                    </div>

                </div>
            </div>
        </div>

        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>
        <!-- /.container-fluid -->
    </div>
    <!-- End of Main Content -->

    {{>layout/footer}}

</div>
<!-- End of Content Wrapper -->

<script>
    var url = "/cs/notice";
</script>
<script src="/static/js/deletepost.js"></script>
{{>layout/bootstrapjs}}
</body>
</html>
