<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판 리스트</title>
    {{>layout/header}}
</head>
<body>
<div id="page-top">
    {{>layout/sidebar}}
    {{>layout/topbar}}
    <div id="content-wrapper" class="d-flex flex-column">
        <div class="container">

            <h1 class="h2 mb-2 font-weight-bold text-gray-800" style="margin-top: 50px; text-align: center;">
                공지사항 상세보기
            </h1>

            <div class="card shadow mb-4" style="margin-top: 50px;">  <!--카드전체 섹션-->
                <div class="card-header py-3" style="center;"> <!--카드헤더 div-->
                </div>

                <div class="card-body"><!--카드 바디-->
                    <table class="table" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>제목 :</th>
                            <td>{{selectNotice.notice_title}}</td>
                            <th>작성자 :</th>
                            <td>{{selectNotice.notice_writer}}</td>
                        </tr>
                        </thead>
                        <tbody class="text-align: center;">
                        <tr>
                            <td colspan="4">
                                <textarea type="text"  placeholder="내용을 입력하세요.." class="field3 card shadow mb-4" name="notice_content" readonly style="height: 30vh; width: 100%;  display: block; margin: 0 auto;">
                                    {{selectNotice.notice_content}}</textarea>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <div style="text-align: center">
                        <a href="/cs/notice" class="btn btn-primary">목록</a>
                        <a href="/cs/{{selectNotice.notice_id}}/updatenoticeview" class="btn btn-success">수정</a>
                        <a href="javascript:void(0);" class="btn btn-danger" onclick="deleteAlert('/cs/{{selectNotice.notice_id}}/deletenotice')">삭제</a>
                    </div>
                </div><!--카드바디-->
            </div><!--카드 end-->

        </div><!--컨테이너 end-->
    </div><!--warpper end-->
</div><!--page-top end-->

{{>layout/footer}}
</div>
<script>
    var url = "/cs/notice";
</script>
<script src="/static/js/deletepost.js"></script>
{{>layout/bootstrapjs}}
</body>
</html>
