<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
테스트 뷰페이지<br>
DB에서 나오는 데이터입니다<br>
컬럼명 id의 내용은 : {{selectNotice.notice_id}}<br>
컬럼명 content의 내용은  : {{selectNotice.notice_title}}
</body>
</html>