<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/static/js/postupdate.js"></script>

</head>
<body>
<form id="alert" method="get" action="/cs/{{updateNotice.notice_id}}/updatenotice">
    <input name="notice_id" type="hidden" value="{{updateNotice.notice_id}}"/>
<table border="1" cellpadding="1" cellspacing="1">
    <tr>
        <td>제목</td>
        <td><input class="update1" name="notice_title" type="text" value="{{updateNotice.notice_title}}"><td>
    </tr>
    <tr>
        <td colspan="2">
            <textarea class="update2" name="notice_content" cols="50" rows="20">{{updateNotice.notice_content}}</textarea>
        </td>
    </tr>
</table>
    <input type="submit" value="수정" onclick="mappingurl('/cs/{{updateNotice.notice_id}}/updatenotice','/cs/notice',2)"/>
</form>
<a href="/cs/notice">목록</a>
</body>
</html>