<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/static/js/delete.js"></script>
    {{>layout/header}}
</head>

<body id="page-top">
{{>layout/sidebar}}
{{>layout/topbar}}

<table border="1" cellpadding="1" cellspacing="1">
    <tr>
        <td>영상제목<input name="video_name" type="text" value="{{content.video_name}}" ></td>
        <td>영상설명<input name="video_sub" type="text" value="{{content.video_sub}}"></td>
    </tr>
    <tr>
        <td>영상주소<input name="video_url" type="text" value="{{content.video_url}}"/></td>
        <td>업로드날짜<input name="upload_date" type="date" value="{{content.upload_date}}"/></td>
        <td>영상수익<input name="video_profit" type="number" value="{{content.video_profit}}"/></td>
        <td>좋아요수<input name="like_cnt" type="number" value="{{content.like_cnt}}"/></td>
        <td>조회수<input name="video_view" type="number" value="{{content.video_view}}"/></td>
        <td>프로젝트아이디<input name="project_id" type="text" value="{{content.project_id}}"/></td>
    </tr>
</table>


<a href="/vd/video">목록</a>
<a href="/vd/{{content.video_id}}/UpdateView">수정</a>
<a href="/vd/{{content.video_id}}/delete" onclick="confirmDelete(event)">삭제</a>


</body>
</html>