<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    {{>layout/header}}
</head>

<body id="page-top">
{{>layout/sidebar}}
{{>layout/topbar}}

    <input name="scenario_id" type="hidden" value="{{selectScenario.scenario_id}}"/>
    <table border="1" cellpadding="1" cellspacing="1">
        <tr>
            <td>시나리오 제목
                <input name="scenario_name" type="text" value="{{selectScenario.scenario_name}}" readonly></td>
            <td>기획ID / 나중에 기획명으로 바꿔야함
                <input name="project_id" type="text" value="{{selectScenario.project_id}}" readonly></td>
            <td>시나리오 번호
                <input name="scenario_num" type="text" value="{{selectScenario.scenario_num}}" readonly></td>
        </tr>
        <tr>
            <td colspan="3"><textarea name="scenario_content" cols="50" rows="20" readonly>{{selectScenario.scenario_content}}</textarea></td>
        </tr>
    </table>

<!--서브 게시판 / 스토리보드-->
    <table border="1" cellpadding="1" cellspacing="1">
        <ul>
            <tr>
                <td>시나리오 번호</td>
                <td>씬 번호</td>
                <td>촬영내용</td>
                <td>찰영장소</td>
            </tr>
            {{#selectListScene}}
                <tr>
                    <td>{{scenario_id}}<!--여기누르면 시나리오로 이동해야함--></td>
                    <td>{{scene_num}}</td>
                    <td><a href="/scene/{{scene_id}}/selectscene">{{scene_content}}</a></td>
                    <td>{{scene_place}}</td>
                </tr>
            {{/selectListScene}}
        </ul>
    </table>
    <!--서브게시판 / end-->

    <!--서브게시판 페이징-->
    {{>layout/subpaging}}

    <!--subPost 검색-->
    <form action="/scene/scene" method="GET">
        <select id="searchType" name="searchType">
            <option value="all">선택</option>
            <option value="title">씬</option>
            <option value="content">내용</option>
            <!-- 필요한 항목 추가 -->
        </select>
        <input type="text" id="search" name="search" placeholder="검색">
        <input type="submit" value="검색">
    </form>
    <!--subPost 검색 / end-->


    <br/>
    <!--시나리오 게시판 이동-->
<a href="/scenario/scenario">목록</a>
<a href="/scenario/{{selectScenario.scenario_id}}/updatescenarioview">수정</a>
<a href="javascript:void(0);" onclick="deleteAlert('/scenario/{{selectScenario.scenario_id}}/deletescenario')">삭제</a>


    <!--서브게시판 검색 js-->
    <script><!--서브게시판에 넘겨준 prefix url-->
        var url = "/scenario/{{selectScenario.scenario_id}}/selectscenario";
    </script>
    <script src="/static/js/search.js"></script>

<!--게시글 삭제시 경고문 js-->
<script src="/static/js/deletepost.js"></script>

</body>
</html>