<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <input name="scenario_id" type="hidden" value="{{selectScenario.scenario_id}}"/>
    <table border="1" cellpadding="1" cellspacing="1">
        <tr>
            <td>시나리오 제목
                <input name="scenario_name" type="text" value="{{selectScenario.scenario_name}}" readonly></td>
            <td>기획ID / 나중에 기획명으로 바꿔야함
                <input name="project_id" type="text" value="{{selectScenario.project_id}}" readonly></td>
            <td>시나리오 번호
                <input name="scenario_num" type="text" value="{{selectScenario.scenario_num}}" readonly></td>
        </tr>
        <tr>
            <td colspan="3"><textarea name="scenario_content" cols="50" rows="20" readonly>{{selectScenario.scenario_content}}</textarea></td>
        </tr>
    </table>


    <!--스크립트페이퍼 목록-->
    <table border="1" cellpadding="1" cellspacing="1">
        <ul>
            <tr>
                <td>씬 번호</td>
                <td>영상제목</td>
                <td>촬영일자</td>
                <td>콘티</td>
            </tr>
            {{#selectListScriptPaper}}
                <tr>
                    <td>{{scene_id}}<!--씬 번호가 들어가야함(조인)--></td>
                    <td><a href="/script/{{script_id}}/selectscriptpaper">{{video_name}}</a></td>
                    <td>{{video_date}}</td>
                    <td>{{conti}}</td>
                </tr>
            {{/selectListScriptPaper}}
        </ul>
    </table>

    {{>layout/subpaging}}
    <!--subPost 검색-->
    <form action="/script/scriptpaper" method="GET">
        <select id="searchType" name="searchType">
            <option value="all">선택</option>
            <option value="title">스크립트 번호</option>
            <option value="content">액션내용</option>
            <!-- 필요한 항목 추가 -->
        </select>
        <input type="text" id="search" name="search" placeholder="검색">

        <input type="submit" value="검색">
    </form>

    <br/>
<a href="/scenario/scenario">목록</a>
<a href="/scenario/{{selectScenario.scenario_id}}/updatescenarioview">수정</a>
<a href="javascript:void(0);" onclick="deleteAlert('/scenario/{{selectScenario.scenario_id}}/deletescenario')">삭제</a>


    <script>
        var url = "/scenario/{{selectScenario.scenario_id}}/selectscenario/";
    </script>
    <script src="/static/js/search.js"></script>

<script src="/static/js/deletepost.js"></script>

</body>
</html>