.parent{

    width: 90%;
    margin: 10px auto;
    display: flex;
    justify-content: center;
}


.first {

    flex:1;
    width:30%;
    box-sizing: border-box;
}

.second{

    flex:1;
    margin: 0px 5%;
    width:30%;
    box-sizing: border-box;
}

.third{

    flex:1;
    width:10%;
    box-sizing: border-box;
}