
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판 리스트</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    {{>layout/header}}
</head>
<body>
<div id="page-top">
    {{>layout/sidebar}}
    {{>layout/topbar}}
    <div id="content-wrapper" class="d-flex flex-column">
        <div class="container">

            <h1 class="h2 mb-2 font-weight-bold text-gray-800" style="margin-top: 50px; text-align: center;">
                제작일지 상세보기
            </h1>

            <div class="card shadow mb-4" style="margin-top: 50px;">  <!--카드전체 섹션-->
                <div class="card-header py-3" style="center;"> <!--카드헤더 div-->
                </div>

                <div class="card-body" style="display: inline-block; text-align: left;" >
                    <table class="table table-bordered" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th style="text-align: center;">기획명</th>
                            <th style="text-align: center;">일지번호</th>
                            <th style="text-align: center;">일지기록일</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td style="text-align: center;">{{selectLog.project_name}}</td>
                            <td style="text-align: center;">{{selectLog.log_num}}</td>
                            <td style="text-align: center;">{{selectLog.log_date}}</td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                {{selectLog.log_content}}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div style="text-align: center">
                        <a href="/log/log" class="btn btn-primary">목록</a>
                        <a href="/log/{{selectLog.log_id}}/logUpdateView" class="btn btn-success">수정</a>
                        <a href="javascript:void(0);" class="btn btn-danger" onclick="deleteAlert('/log/{{selectLog.log_id}}/deletelog')">삭제</a>
                    </div>
                </div><!--카드바디-->
            </div><!--카드 end-->

        </div><!--컨테이너 end-->
    </div><!--warpper end-->
</div><!--page-top end-->
{{>layout/footer}}
</div>


{{>layout/bootstrapjs}}
</body>
</html>

