<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<form action="/log/insertLog" method="get">
    <table border="1" cellpadding="1" cellspacing="1">
        <tr>




            <td>일지번호<input name="log_num" type="text" placeholder="드롭다운" ></td>
            <td>작성일<input name="log_date" type="date" placeholder="미입력시 자동생성"></td>
        </tr>
        <tr>
            <td>일지내용<input name="log_content" type="text" placeholder="스토리보드 내용을 요약작성해 주세요"/></td>
        </tr>
        <tr>


            <td>프로젝트아이디 <input name="project_id" type="text"/></td>
        </tr>
    </table>
    <input type="submit" value="등록">
</form>
<a href="log/log">취소</a>


</body>
</html>