
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판 리스트</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/static/js/cu_alert.js"></script>
    {{>layout/header}}
</head>
<body>
<div id="page-top">
    {{>layout/sidebar}}
    {{>layout/topbar}}
    <div id="content-wrapper" class="d-flex flex-column">
        <div class="container">

            <h1 class="h2 mb-2 font-weight-bold text-gray-800" style="margin-top: 50px; text-align: center;">
                제작일지 수정
            </h1>

            <div class="card shadow mb-4" style="margin-top: 50px;">  <!--카드전체 섹션-->
                <div class="card-header py-3" style="center;"> <!--카드헤더 div-->
                </div>

                <div class="card-body" style="display: inline-block; text-align: left;" >

                    <form  id="alert" action="/log/{{updateLog.log_id}}/updateLog" method="get">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th style="text-align: center;">기획명</th>
                                    <th style="text-align: center;">일지번호</th>
                                    <th style="text-align: center;">일지기록일</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr style="text-align: center;">
                                    <td><select id="fk1" name="project_id" ></select></td>
                                    <td><input name="log_num" type="number" class="int1" style="text-align: center;" value="{{updateLog.log_num}}"  ></td>
                                    <td><input name="log_date" type="date" class="field1" value="{{updateLog.log_date}}"></td>
                                </tr>
                                <tr>
                                    <td colspan="3" style="text-align: center;">
                                        <textarea name="log_content" class="field2" style="height: 30vh; width: 100%;  display: block; margin: 0 auto;">{{updateLog.log_content}}
                                        </textarea>
                                </tr>
                                </tbody>
                            </table>

                        <div style="text-align: center">
                            <button type="submit" class="btn btn-primary" onclick="mappingurl('/log/{{updateLog.log_id}}/updateLog',2,'수정',1)">등록</button>
                            <a href="javascript:history.back()" role="button" class="btn btn-secondary">취소</a>
                        </div>
                    </form>



                </div><!--카드바디-->
            </div><!--카드 end-->

        </div><!--컨테이너 end-->
    </div><!--warpper end-->
</div><!--page-top end-->
{{>layout/footer}}
</div>


<script>
    var jsonValue = '{{{fkList}}}';

    var selectName = "project_id";
        var url = "/log/log";
</script>
<script src="/static/js/cu_alert.js"></script>
<script src="/static/js/dropdown.js"></script>

{{>layout/bootstrapjs}}
</body>
</html>

