<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>스크립트 리스트</title>
    {{>layout/header}}
</head>

<body id="page-top">
{{>layout/sidebar}}
{{>layout/topbar}}
<!-- Content Wrapper -->
<div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">

        <!-- Begin Page Content -->
        <div class="container-fluid">
            <h1 class="h3 mb-2 text-gray-800" style="margin-top: 50px;">스크립트 게시판</h1>
            <!-- DataTales Example -->
            <div class="card shadow mb-4" style="margin-top: 50px;">
            <div class="card-header py-3">

    <!--검색-->
<form action="/cs/notice" method="get" class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search ml-auto">

    <div class="input-group">
        <select id="searchType" name="searchType">
            <option value="all">선택</option>
            <option value="writer">시나리오</option>
            <option value="title">씬번호</option>
            <option value="content">액션내용</option>
            <!-- 필요한 항목 추가 -->
        </select>

        <input id="search" name="search" type="text"  style="width: 150px;" class="form-control bg-light border-0 small" placeholder="Search for..."
               aria-label="Search" aria-describedby="basic-addon2">

        <div class="input-group-append">
            <input class="btn btn-primary" type="submit">
        </div>
    </div>
</form>

    </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th  style="text-align: center;">시나리오 제목</th>
                        <th  style="text-align: center;">씬번호</th>
                        <th  style="text-align: center;">영상제목</th>
                        <th  style="text-align: center;">촬영일자</th>
                        <th  style="text-align: center;">콘티</th>

                    </tr>
                    </thead>
                    <tbody>
                    {{#selectListScriptPaper}}
                        <tr>
                            <td style="text-align: center;">{{scenario_name}}</td>
                            <td style="text-align: center;">{{scene_num}}<!--씬 번호가 들어가야함(조인)--></td>
                            <td style="text-align: center;"><a href="/script/{{script_id}}/selectscriptpaper">{{video_name}}</a></td>
                            <td style="text-align: center;">{{video_date}}</td>
                            <td style="text-align: center;">{{conti}}</td>
                        </tr>
                    {{/selectListScriptPaper}}
                    </tbody>
                </table>

                <!--페이징 처리 레이아웃-->
                {{>layout/paging}}
                <a style="margin-left: 20px" href="/script/insertscriptpaperview" role="button">글 작성</a>
                <a style="margin-left: 20px" href="/script/scriptpaper">목록</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a style="margin-left: 20px" href="/index">홈 페이지</a>
            </div>
        </div>

    </div>
    <br/>
</div>

<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>
<!-- /.container-fluid -->
</div>
<!-- End of Main Content -->
{{>layout/footer}}
</div>
<!-- End of Content Wrapper -->

<script>
    var url = "/scene/scene";
</script>

<script src="/static/js/search.js"></script>
<!-- 페이징 처리와 관련된 부트스트랩 라이브러리-->
<script src="/static/bootstrap/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="/static/bootstrap/vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- 페이징 처리와 관련된 부트스트랩 라이브러리 -->
<script src="/static/bootstrap/js/demo/datatables-demo.js"></script>

{{>layout/bootstrapjs}}
</body>
</html>