<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<form id="alert" action="/script/insertscriptpaper" method="get">
    <input type="hidden" id="tableId" value="scriptpaper">

    <table border="1" cellpadding="1" cellspacing="1">
        <tr>
            <td>기획<select id="fk1" name="project_id"></select></td>
            <td>시나리오<select id="fk2" name="scenario_id">
                <option selected>선택</option>
            </select></td>
            <td>씬 번호<select id="fk3" name="scene_id">
                <option selected>선택</option>
            </select></td>
            <td>영상 제목<input class="field1" name="video_name" type="text" placeholder="영상제목 입력"></td>
            <td>촬영날짜<input class="field2" name="video_date" type="date" placeholder="날짜형식 yy/mm/dd 입력"></td>
            <td>촬영시작시간<input class="field3" name="video_time" type="date" placeholder="날짜형식입력(시간아직안됨)"></td>
            <td>촬영종료시간<input class="field4" name="video_end_time" type="date" placeholder="날짜형식입력"></td>
        </tr>
        <tr>
            <td>액션 이미지 첨부파일 <input id="fileInput" name="action_image" type="file" /></td>
            <td>액션 내용 <input class="field5" name="action_content" type="text" placeholder="varchar2"/></td>
            <td>카메라포지션 첨부파일 <input class="field6" name="position_image" type="text" placeholder="varchar2"/></td>
            <td>콘티 <input class="field7" name="conti" type="text" placeholder="varchar2"/></td>
        </tr>
    </table>
    <input type="submit" value="등록" onclick="mappingurl('/script/insertscriptpaper',7,'작성')"/>
</form>
<a href="/script/scriptpaper">취소</a>

<br/>현재까지 버그<br/>


<!--옵션 태그에 필요한 js-->
<script>
    var jsonValue = '{{{fkListProject}}}';
    <!--select 옵션 name값을 'cu_alert.js'에 보내주기 위한 변수 값/ 이게없으면 제출이 안됨-->
    var selectName = "scene_id";

</script>
<script src="/static/js/dropdown.js"></script>
<script src="/static/js/uploadFile.js"></script>
<script src="/static/js/cu_alert.js"></script>
</body>
</html>