<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>타임테이블 수정</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    {{>layout/header}}
</head>

<body>
<div id="page-top">
    {{>layout/sidebar}}
    {{>layout/topbar}}


    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">

            <h1 class="h2 mb-2 font-weight-bold text-gray-800" style="margin-top: 50px; text-align: center;">
                타임테이블 수정
            </h1>

            <div class="card shadow mb-4" style="margin-top: 20px; margin-right: 200px; margin-left: 200px">
                <div class="card-body">
                    <form id="alert" method="get" action="/script/{{selectTimeTable.table_id}}/updatetimetable">
                        <input type="hidden" class="field1" name="script_id" value="{{selectTimeTable.script_id}}"/>
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th  style="text-align: center;">순 서</th>
                                <th  style="text-align: center;">OK/NG</th>
                                <th  style="text-align: center;">촬영시간</th>
                                <th  style="text-align: center;">슬레이트</th>
                            </tr>
                            </thead>
                            <tr style="text-align: center;">
                                <td><input class="int1" name="time_num" type="number" style="text-align: center;" value="{{selectTimeTable.time_num}}"></td>
                                <td><input class="field2" name="film_time" type="time" value="{{selectTimeTable.film_time}}"/></td>
                                <td>
                                    <input type="radio" class="radio" name="ok_ng" value="OK" {{#okFlag}}{{#OK}}checked{{/OK}}{{/okFlag}}> OK &nbsp;&nbsp;
                                    <input type="radio" class="radio" name="ok_ng" value="NG" {{#okFlag}}{{#NG}}checked{{/NG}}{{/okFlag}}> NG
                                    </td>
                                <td><input class="field3" name="slate_time" type="time" value="{{selectTimeTable.slate_time}}"></td>
                            </tr>
                        </table>
                        <div style="display: flex; justify-content: center;">
                            <button type="submit" class="btn btn-primary mr-2"
                                    onclick="mappingurl('/script/{{selectTimeTable.table_id}}/updatetimetable',3,'수정',1)">수정</button>
                            <a href="javascript:history.back()" role="button" class="btn btn-secondary">취소</a>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>
{{>layout/footer}}
</div>
<script>
    var url="script/timetable";
    var radioButtonName = "ok_ng";
</script>
<script src="/static/js/cu_alert.js"></script>
{{>layout/bootstrapjs}}
</body>
</html>