<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>타임테이블 수정</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/static/js/cu_alert.js"></script>
    {{>layout/header}}
</head>

<body id="page-top">
{{>layout/sidebar}}
{{>layout/topbar}}

<!-- Content Wrapper -->
<div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">

        <div class="container-fluid">
            <div style="text-align: center; display: block; margin-top:40px;" > <!-- 수정 ! 마진 탑 100->수정 -->
                <h1 class="h3 mb-2 text-gray-800" >게시글 수정</h1>
            </div>

            <!-- DataTales Example -->
            <div class="card shadow mb-4" style="margin-top: 50px; margin-right: 300px; margin-left: 300px">
                <div class="card-header py-3">

    <form id="alert" method="get" action="/script/{{selectTimeTable.table_id}}/updatetimetable">

        <div style="margin-left: 30%; margin-right:30%; margin-top: 5%;">
            <div style="display: inline-block;">

        <div class="mb-3" style="display: inline-block;">
            <label for="formGroupExampleInput" class="form-label" style="display: block;"><strong>스크립트 번호</strong></label>
            <input id="formGroupExampleInput" class="field1" name="script_id" type="text" value="{{selectTimeTable.script_id}}"><br/><br/>

            <label for="formGroupExampleInput" class="form-label" style="display: block;"><strong>촬영시간</strong></label>
            <input id="formGroupExampleInput"  class="field2" name="film_time" type="date" value="{{selectTimeTable.film_time}}"/><br/><br/>

            <label for="formGroupExampleInput" class="form-label" style="display: block;"><strong>타임테이블 번호</strong></label>
            <input id="formGroupExampleInput" class="field3" name="time_num" type="number" value="{{selectTimeTable.time_num}}"><br/><br/>

            <label for="formGroupExampleInput" class="form-label" style="display: block;"><strong>OK/NG</strong></label>
            <input id="formGroupExampleInput"  class="field4" name="ok_ng" type="text" value="{{selectTimeTable.ok_ng}}"><br/><br/>

            <label for="formGroupExampleInput" class="form-label" style="display: block;"><strong>슬레이트</strong></label>
            <input id="formGroupExampleInput"  class="field5" name="slate_time" type="date" value="{{selectTimeTable.slate_time}}"><br/><br/>
        </div>

                <div style="display: flex; justify-content: center;">
                    <button type="submit" class="btn btn-primary"
                            onclick="mappingurl('/script/{{selectTimeTable.table_id}}/updatetimetable',5,'수정')">수정</button> &nbsp; &nbsp;
                    <a href="javascript:history.back()" role="button" class="btn btn-secondary">취소</a>

                </div>
            </div>
        </div>
    </form>
    </div>

</div>
<br/>  <!-- 추가 -->
</div>
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>
<!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->
</div>
<!-- End of Content Wrapper -->
<br/>

<script>
    var url="script/timetable";
</script>
<script src="/static/js/cu_alert.js"></script>

{{>layout/bootstrapjs}}
</body>
</html>