<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    {{>layout/header}}
</head>

<body>
<div id="page-top">
{{>layout/sidebar}}
{{>layout/topbar}}

<div id="content-wrapper" class="d-flex flex-column">
<div id="content">

    <div style="text-align: center; display: block; margin-top:50px;" >
        <h1 class="h3 mb-2 text-gray-800">타임테이블</h1>
    </div>

    <!-- DataTales Example -->
    <div class="card shadow mb-4" style="margin-top: 20px; margin-right: 200px; margin-left: 200px;">
            <div class="card-body">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th  style="text-align: center;">순 서</th>
                        <th  style="text-align: center;">OK/NG</th>
                        <th  style="text-align: center;">촬영시간</th>
                        <th  style="text-align: center;">슬레이트</th>
                    </tr>
                    </thead>
                    <tr style="text-align: center;">
                        <td>{{selectTimeTable.film_time}}</td>
                        <td>{{selectTimeTable.time_num}}</td>
                        <td>{{selectTimeTable.ok_ng}}</td>
                        <td>{{selectTimeTable.slate_time}}</td>
                    </tr>
                </table>

                <div style="text-align: center">
                    <a href="/script/timetable" class="btn btn-primary">뒤로</a> &nbsp;&nbsp;
                    <a href="/script/{{selectTimeTable.table_id}}/updatetimeview" class="btn btn-success">수정</a>&nbsp;&nbsp;
                    <a href="javascript:void(0);" class="btn btn-danger" onclick="deleteAlert('/script/{{selectTimeTable.table_id}}/deletetimetable')">삭제</a>
                </div>


            </div><!--카드바디 end-->
        </div><!--카드섹션 end-->

    </div>
</div>
</div>

{{>layout/footer}}
</div>


    <script>
        var url = "/cs/notice";
    </script>
    <script src="/static/js/deletepost.js"></script>
    {{>layout/bootstrapjs}}
</body>
</html>



