<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/static/js/cu_alert.js"></script>
    {{>layout/header}}
</head>

<body id="page-top">
{{>layout/sidebar}}
{{>layout/topbar}}
<form id="alert" method="get" action="/script/{{selectTimeTable.table_id}}/updatetimetable">
<table border="1" cellpadding="1" cellspacing="1">
    <tr>
        <td>스크립트 번호 <input class="field1" name="script_id" type="text" value="{{selectTimeTable.script_id}}"></td>
        <td>촬영시간 <input class="field2" name="film_time" type="date" value="{{selectTimeTable.film_time}}"/></td>
        <td>타임테이블 번호<input class="field3" name="time_num" type="number" value="{{selectTimeTable.time_num}}"></td>
        <td>OK/NG<input class="field4" name="ok_ng" type="text" value="{{selectTimeTable.ok_ng}}"></td>
        <td>슬레이트<input name="slate_time" type="date" value="{{selectTimeTable.slate_time}}"></td>
    </tr>
</table>
    <input type="submit" value="수정" onclick="mappingurl('/script/{{selectTimeTable.table_id}}/updatetimetable',4,'수정')">
</form>

<a href="/script/timetable">취소</a>

<br/>현재까지 버그<br/>
</body>
</html>