<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<table border="1" cellpadding="1" cellspacing="1">
    <tr>
        <td>스크립트 번호 <input name="script_id" type="text" value="{{selectTimeTable.script_id}}" readonly></td>
        <td>촬영시간 <input name="film_time" type="date" value="{{selectTimeTable.film_time}}" readonly/></td>
        <td>타임테이블 번호<input name="time_num" type="number" value="{{selectTimeTable.time_num}}" readonly></td>
        <td>OK/NG<input name="ok_ng" type="text" value="{{selectTimeTable.ok_ng}}" readonly></td>
        <td>슬레이트<input name="slate_time" type="date" value="{{selectTimeTable.slate_time}}" readonly></td>
    </tr>
</table>
<a href="/script/timetable">목록</a>
<a href="/script/{{selectTimeTable.table_id}}/updatetimeview">수정</a>
<a href="/script/{{selectTimeTable.table_id}}/deletetimetable">삭제</a>

<br/>현재까지 버그<br/>
</body>
</html>