<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>크리에이터</title>
    {{>layout/header}}
</head>
<body>
{{>layout/sidebar}}
{{>layout/topbar}}

<div class="container">
<h1>크리에이터 현황</h1>

        <table border="1" cellpadding="1" cellspacing="1">
            <ul>
                <tr>
                    <td>채널 이름 </td>
                    <td>구독자 수 </td>
                    <td>업로드 영상</td>
                    <td>채널주소</td>
                    <td>소유계정</td>

                </tr>
                {{#selectListCreator}}
                    <tr>
                        <td><a href="/creator/{{ch_id}}/selectcreator">{{ch_name}}</a></td>
                        <td>{{formattedCh_sub}} 명</td>
                        <td>{{formattedVideocount}} 개</td>
                        <td><a href="{{createrurl}}">{{createrurl}}</a></td>
                        <td>{{user_id}}</td>
                    </tr>
                {{/selectListCreator}}
            </ul>
        </table>
<br/>

    <div class="container1">
        <form method="post" action="/creator/search" >
            <input type="text" name="userId" placeholder="회원ID" />
            <input type="text" name="searchKeyword" placeholder="크리에이터 검색" />
            <button type="submit">추가</button>
        </form>
        <a href="/creator/creater">목록</a> &nbsp;&nbsp;
        <a href="/index">홈 페이지</a> <br/>
    </div>

<!--페이징 처리 레이아웃-->
{{>layout/paging}}

<br/>


</div>
{{>layout/footer}}
{{>layout/bootstrapjs}}
</body>
</html>