<!DOCTYPE html>
<html>
<head>
     <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/static/js/cu_alert.js"></script>
    {{>layout/header}}
</head>
<body id="page-top">
{{>layout/sidebar}}
{{>layout/topbar}}

    <table>
        <thead>
        <tr>
            <th>채널 제목</th>
            <th>썸네일</th>
        </tr>
        </thead>
        <tbody>
        {{#hashmap}}
            <tr>
                <td><a href="/creator/insertcreator?channelId={{channelId}}&title={{channelTitle}}&userId={{userId}}">{{channelTitle}}</a></td>
                <td><img src="{{thumbnailsUrl}}" alt="Thumbnail"></td>
            </tr>
        {{/hashmap}}
        </tbody>
    </table>

<a href="/creator/creater">목록</a>

<script src="/static/js/youtubejs.js"></script>
</body>
</html>

























