<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판 리스트</title>

    {{>layout/header}}
</head>
<body id="page-top">

{{>layout/sidebar}}
{{>layout/topbar}}

<!-- Content Wrapper -->
<div id="content-wrapper" class="d-flex flex-column">
    <!--d-flex flex-column: flex박스 스타일을 적용한 클래스 : 요소들 수평이나 수직으로 배치하고 간격을 조절하는 등의 작업 간편화
       content-wrapper: 컨텐츠 섹션 감싸고  그 안의 요소들을 유연하게 배치하고 정렬 주로  다양한 화면 크기와 디바이스에 대응하는 반응형 디자인을 구현하는 데 유용-->

    <!-- Main Content -->
    <div id="content">

        <!-- Begin Page Content -->
        <div class="container-fluid">  <!--얘가 없으면 전체적으로 다 위로 올라가고 푸터가 사이드 옆쪽으로 붙어버림 -->
            <!--container-fluid:  Bootstrap 프레임워크를 사용하여 생성된 컨테이너로, 웹 페이지의 내용을 감싸는 역할, 화면 폭에 맞게 자동으로 넓어져서 브라우저의 너비에 따라 반응형으로 조절-->
            <!--mb-2:하단의 여백 -->
            <!-- Page Heading -->
            <h1 class="h3 mb-2 text-gray-800" style="margin-top: 50px;">크리에이터 현황</h1>
            <!--공지사항이 너무 천장에 붙어있어서 margin-top: 50px을 줘서 내렸습니다-->
            <!-- <p class="mb-4">게시판 설명 넣는곳 <a target="_blank" href="https://datatables.net">이곳에 링크 넣으세요</a>.</p>-->

            <!-- DataTales Example -->
            <div class="card shadow mb-4" style="margin-top: 50px;">
                <div class="card-header py-3">
                    <!--<h6 class="m-0 font-weight-bold text-primary">공지사항</h6>-->

                        <!--d-none: 화면에서 폼을 숨기는 기능
                        mr-auto: 오른쪽 마진을 자동으로 설정 ml-md-3:왼쪽 마진을 3단위만큼 설정
                        my-2 my-md-0: 수직여백 설정  mw-100: 최대너비 100%설정 navbar-search: 커스텀클래스 (폼을나타내는 클래스)-->
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th style="text-align: center;">채널이름</th>
                                <th style="text-align: center;">구독자 수</th>
                                <th style="text-align: center;">업로드 영상</th>
                                <th style="text-align: center;">채널주소</th>
                                <th style="text-align: center;">소유계정</th>
                            </tr>
                            </thead>
                            <tbody>
                            {{#selectListCreator}}
                                <tr>
                                    <td style="text-align: center;"><a href="/creator/{{ch_id}}/selectcreator">{{ch_name}}</a></td>
                                    <td style="text-align: center;">{{formattedCh_sub}} 명</td>
                                    <td style="text-align: center;">{{formattedVideocount}} 개</td>
                                    <td style="text-align: center;"><a href="{{createrurl}}">{{createrurl}}</a></td>
                                    <td style="text-align: center;">{{user_id}}</td>
                                </tr>
                            {{/selectListCreator}}
                            </tbody>
                        </table>
                        <!--페이징 처리 레이아웃-->
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <!-- 테이블 헤더 및 데이터 부분 -->
                            </table>
                            <div class="d-flex justify-content-between">
                                <div>
                                    <!-- 페이징 부분 -->
                                    <div class="d-flex justify-content-between align-items-center">
                                        <span></span>
                                        <span>{{>layout/paging}}</span>
                                    </div>
                                </div>

                                <div>
                                    <!-- 검색/목록/홈페이지 부분 -->
                                    <div class="container1">
                                        <form method="post" action="/creator/search">
                                            <input type="text" name="userId" placeholder="회원ID" />
                                            <input type="text" name="searchKeyword" placeholder="크리에이터 검색" />
                                            <button type="submit">추가</button>
                                        </form>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <br/>
        </div>
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>
        <!-- .container-fluid -->
    </div>
    <!-- End of Main Content -->
    {{>layout/footer}}
</div>
<!-- End of Content Wrapper -->

{{>layout/bootstrapjs}}
</body>
</html>