<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/static/js/delete.js"></script>
    {{>layout/header}}
</head>

<body id="page-top">
{{>layout/sidebar}}
{{>layout/topbar}}
    <h1>{{selectCreator.ch_name}}</h1>
    <hr>
     <table border="1" cellpadding="1" cellspacing="1">
            <tr>
                <td>채널 명</td>
                <td>채널 소유계정</td>
                <td>구독자 수</td>
                <td>업로드 영상</td>
                <td>조회수</td>
            </tr>
            <tr>
                <td>{{selectCreator.ch_name}}</td>
                <td>{{selectCreator.user_id}}</td>
                <td>{{selectCreator.formattedCh_sub}}</td>
                <td>{{selectCreator.formattedVideocount}}</td>
                <td>{{selectCreator.formattedViewcount}}</td>
            </tr>

              <tr>
                  <td>채널 설명</td>
                  <td colspan="4">{{selectCreator.description}}</td>
              </tr>
        </table>

    <!--서브게시판 페이징-->
    {{>layout/subpaging}}

    <!--subPost 검색-->
    <form action="/vd/video" method="GET">
        <select id="searchType" name="searchType">
            <option value="all">선택</option>
            <option value="title">영상제목</option>
            <!-- 필요한 항목 추가 -->
        </select>
        <input type="text" id="search" name="search" placeholder="검색">
        <input type="submit" value="검색">
    </form>
    <!--subPost 검색 / end-->

    <hr>
    <a href="/creator/updatecreatorview/{{selectCreator.ch_id}}">게시글 수정</a>&nbsp;&nbsp;&nbsp;
    <a href="/creator/deletecreator/{{selectCreator.ch_id}}" onclick="confirmDelete(event)">게시글 삭제</a>&nbsp;
    <a href="/creator/creater">전체 목록 보기</a>
{{>layout/bootstrapjs}}
</body>
</html>