<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판 리스트</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    {{>layout/header}}
</head>
<body id="page-top">

{{>layout/sidebar}}
{{>layout/topbar}}

<!-- Content Wrapper -->
<div id="content-wrapper" class="d-flex flex-column">
    <div class="container">
        <h1 class="h2 mb-2 font-weight-bold text-gray-800" style="margin-top: 50px; text-align: center;">
            크리에이터
        </h1>

        <div class="card shadow mb-4" style="margin-top: 50px;">
            <div class="card-header py-3">
            </div>

            <div class="card-body">
                <form id="alert" action="/creator/updatecreator/{{selectCreator.ch_id}}" method="get">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th style="text-align:center; width:30%">채널명</th>
                            <th style="text-align:center;">구독자수</th>
                            <th style="text-align:center;">유저ID</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td style="text-align:center;">{{selectCreator.ch_name}}</td>
                            <td style="text-align:center;">{{selectCreator.ch_sub}}</td>
                            <td style="text-align:center;"><input style="text-align:center" class="field1" name="user_id" type="text" value="{{selectCreator.user_id}}"></td>
                        </tr>
                        </tbody>
                    </table>
                    <div style="text-align: center">
                        <button type="submit" class="btn btn-primary"
                                onclick="mappingurl('/creator/updatecreator/{{selectCreator.ch_id}}',1,'수정')">등록
                        </button>
                        <button class="btn btn-secondary">
                            <a href="/creator/creater" style="text-decoration: none; color: white;">취소</a>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
{{>layout/footer}}
</div>
<script>
    var url = "/creator/creater";
</script>
<script src="/static/js/cu_alert.js"></script>
{{>layout/bootstrapjs}}
</body>
</html>
