<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--부서-->
<mapper namespace="com.example.yoonlove.mapper.AdminMapper">
    <select id="selectDepartment" resultType="com.example.yoonlove.dto.DepartmentDto">
        SELECT * FROM department where dpt_id=#{dpt_id}
    </select>

    <!--검색유무에 따라 게시판의 총 게시글 수는 구하는 쿼리-->
    <select id="totalDptPost" parameterType="com.example.yoonlove.dto.PageDto">
        select count(${id}) as totalPost from ${table}
        where 1=1 <!--검색어가 공란이면 전체 리스트 조회-->
        <!--검색어가 있다면 아래 조건문을 실행-->
        <if test="title != null and search != ''">
            AND dpt_name like '%${title}%'
        </if>
    </select>


    <select id="selectListDepartment" parameterType="com.example.yoonlove.dto.PageDto" resultType="com.example.yoonlove.dto.DepartmentDto">
        select *
        <!--notice검색결과에 rownum을 하고 r로 지정-->
        from(select rownum as r, t.*

        <!--  (   notice 결과 또는 검색 후 리스트에 대한 결과      )를 t로 지정-->
        from (select * from ${table}
        where 1=1
        <if test="title != null and search != ''">
            AND dpt_name like '%${title}%'
        </if>
        order by ${id} desc) t)

        <!-- rownum을 기준(r)으로 시작번호부터 끝번호까지 검색   -->
        where r between #{postStart} and #{postEnd}
    </select>


    <insert id="insertDepartment" parameterType="com.example.yoonlove.dto.DepartmentDto">
        insert into department values(
        (select concat('dpt', (nvl(max(to_number(substr(dpt_id, 4))), 0)+1)) from department),<!--pk코드 자동증가(수정2)-->
        #{dpt_name},
        #{dpt_function},
        'com1'
        )
    </insert>

    <update id="updateDepartment">
        update department
        set dpt_name = #{dpt_name},
        dpt_function = #{dpt_function}
        where dpt_id = #{dpt_id}
    </update>

    <delete id="deleteDepartment">
        delete from department where dpt_id=#{dpt_id}
    </delete>

</mapper>