<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--부서-->
<mapper namespace="com.example.yoonlove.mapper.CreatorMapper">

    <select id="selectListCreator" resultType="com.example.yoonlove.dto.CreatorDto">
        SELECT * FROM creater
    </select>

    <select id="selectCreator" resultType="com.example.yoonlove.dto.CreatorDto">
        SELECT * FROM creater where ch_id = #{ch_id}
    </select>

    <insert id="insertCreator">
        insert into creater values(
        (select concat('ch',(substr(NVL(max(ch_id),'ch0'),3)+1)) from creater),<!--pk코드 자동증가-->
        #{ch_name},
        #{ch_sub},
        #{user_id}
        )
    </insert>

    <update id="updateCreator" >
        UPDATE CREATER
        SET ch_name=#{ch_name},
        ch_sub=#{ch_sub},
        user_id=#{user_id}
        where ch_id = #{ch_id}
    </update>

    <delete id="deleteCreator">
        DELETE FROM creater WHERE ch_id = #{ch_id}
    </delete>


</mapper>