<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--부서-->
<mapper namespace="com.example.yoonlove.mapper.CreatorMapper">
    <select id="selectCreator" resultType="com.example.yoonlove.dto.CreatorDto">
        SELECT * FROM department where dpt_id=#{dpt_id}
    </select>

    <select id="selectListCreator" resultType="com.example.yoonlove.dto.CreatorDto">
        SELECT * FROM creater
    </select>

    <insert id="insertCreator" parameterType="com.example.yoonlove.dto.CreatorDto">
        insert into creater values(
        (select concat('ch',(substr(NVL(max(ch_id),'ch0'),3)+1)) from creater),<!--pk코드 자동증가-->
        #{ch_name},
        #{ch_sub},
        #{user_id}
        )
    </insert>


</mapper>