<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.yoonlove.mapper.CsMapper">
    <select id="selectNotice" resultType="com.example.yoonlove.dto.NoticeDto">
        SELECT * FROM notice where notice_id=#{notice_id}
    </select>

    <select id="selectListNotice" resultType="com.example.yoonlove.dto.NoticeDto">
        SELECT * FROM notice order by notice_id desc
    </select>

    <insert id="insertNotice" parameterType="com.example.yoonlove.dto.NoticeDto">
        insert into notice values(
        (select NVL(Max(notice_id),0)+1 from notice),#{notice_title},#{notice_content},'관리자',
        (select * from todaytime)<!--현재 날짜+시간 뷰테이블-->,0,'test','23-9-12')
    </insert>

    <update id="updateNotice">
        update notice set(notice_title = #{notice_title}, notice_content=#{notice_content}
        where notice_id = #{notice_id})
    </update>

    <delete id="deleteNotice">
        delete from notice where notice_id='5번글'
    </delete>

    <update id="cnt">
        update notice set notice_cnt =(notice_cnt+1) where notice_id = 1
    </update>


    <!--QnA-->
    <select id="selectQnA">
        SELECT * FROM notice where notice_id='1번글'
    </select>

    <select id="selectListQnA">
        SELECT * FROM notice
    </select>

    <insert id="insertQnA">
        insert into notice values(
        '5번글','쿼리로 입력한제목','내용입니다','관리자','2023-9-01','2023-9-02',0,'테스트관리자')
    </insert>

    <update id="updateQnA">
        insert into notice values(
        '5번글','쿼리로 입력한제목','내용입니다','관리자','2023-9-01','2023-9-02',0,'테스트관리자')
    </update>

    <delete id="deleteQnA">
        delete from notice where notice_id='5번글'
    </delete>
</mapper>