<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.yoonlove.mapper.FileMapper">

    <!-- 파일 ID로 파일 정보를 조회하는 쿼리 -->
    <select id="getFileById" resultType="com.example.yoonlove.dto.FileDto">
        SELECT * FROM files
        WHERE file_id = #{file_id}
    </select>



    <insert id="insertFile" parameterType="com.example.yoonlove.dto.FileDto">
        INSERT INTO files
        VALUES(
        (select concat('file', (nvl(max(to_number(substr(file_id, 5))), 0)+1)) from files),<!--pk코드 자동증가(수정2)-->
        #{file_name},
        #{file_path},
        #{file_data},
        <if test="scene_id != null and script_id == null">
            #{scene_id},
            null
        </if>
        <if test="scene_id == null and script_id != null">
            null,
            #{script_id}
        </if>

        )
    </insert>

        <!--첨부파일이 없을때 임시테이블 생성-->
    <insert id="insertNull" parameterType="com.example.yoonlove.dto.SceneDto">
        INSERT INTO files

        VALUES
            ((select concat('file_id', (nvl(max(substr(file_id, 8)), 0)+1)) from files),
             null, '파일이 없습니다', null, #{scene_id})
    </insert>


    <!-- 파일 정보를 업데이트하는 쿼리 -->
    <update id="updateFile" parameterType="com.example.yoonlove.dto.FileDto">
        UPDATE files
        SET file_name = #{file_name}, file_path = #{file_path}, file_data = #{file_data}
        WHERE file_id = #{file_id}
    </update>



    <select id="selectFile" parameterType="com.example.yoonlove.dto.SceneDto" >
        SELECT * FROM files
        WHERE scene_id = #{scene_id}
    </select>


    <update id="deleteFile" parameterType="com.example.yoonlove.dto.SceneDto">
        UPDATE files
        SET file_name = '파일 없음',
        file_path = '파일 없음',
        file_data = null
        WHERE scene_id = #{fk}
    </update>

    <!--파일 업로드시 작성된 글의 scene pk를 가져와 파일테이블의 fk를 만드는 메소드-->
    <select id="lastScenePkNum" parameterType="com.example.yoonlove.dto.SceneDto" >
        select max(to_number(substr(scene_id,6))) from scene
    </select>

    <!--파일 업로드시 작성된 글의 script pk를 가져와 파일테이블의 fk를 만드는 메소드-->
    <select id="lastScriptPkNum" parameterType="com.example.yoonlove.dto.ScriptPaperDto" >
        select max(to_number(substr(script_id,7))) from scriptpaper
    </select>


    <!--파일 수정에서 특정 게시글의 pk를 가져와서 파일 테이블의 fk와 비교하기 위한 메소드-->
    <select id="searchFk" parameterType="com.example.yoonlove.dto.SceneDto" >
        SELECT * FROM files
        WHERE scene_id = #{fk}
    </select>

</mapper>
