<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.yoonlove.mapper.LogMapper">

    <select id="totalLogPost" parameterType="com.example.yoonlove.dto.PageDto">
        select count(${id}) as totalPost from logjoin
        <if test="company_id == 'company1'">
            where 1=1 <!--시스템 계정이면 모든 데이터보기-->
        </if>
        <if test="company_id != 'company1'">
            where company_id = #{company_id} <!--시스템계정이 아니면 소속 회사만 보기-->
        </if>
        <!--검색어가 있다면 아래 조건문을 실행-->
        <if test="title != null and search != ''">
            AND log_content like '%${title}%'
        </if>
    </select>

    <select id="selectListLog" parameterType="com.example.yoonlove.dto.PageDto" resultType="com.example.yoonlove.dto.LogDto">
        select *
        <!--notice검색결과에 rownum을 하고 r로 지정-->
        from(select rownum as r, t.*

        <!--  (   notice 결과 또는 검색 후 리스트에 대한 결과      )를 t로 지정-->
        from (select * from logjoin
        <if test="company_id == 'company1'">
            where 1=1 <!--시스템 계정이면 모든 데이터보기-->
        </if>
        <if test="company_id != 'company1'">
            where company_id = #{company_id} <!--시스템계정이 아니면 소속 회사만 보기-->
        </if>
        <if test="title != null and search != ''">
            AND log_content like '%${title}%'
        </if>
        order by ${id} desc) t)

        <!-- rownum을 기준(r)으로 시작번호부터 끝번호까지 검색   -->
        where r between #{postStart} and #{postEnd}    /*where r between 1 and 10    where r between 11 and 20*/
    </select>

    <select id="selectLog"  parameterType="com.example.yoonlove.dto.LogDto"  resultType="com.example.yoonlove.dto.LogDto">
        SELECT * FROM logjoin WHERE log_id = #{log_id}
    </select>

    <!--<update id="updateBbsView" parameterType="">
        UPDATE log SET views = views+1 WHERE log_id = #{log_id}
    </update>-->

    <insert id="insertLog" parameterType="com.example.yoonlove.dto.LogDto">
        INSERT INTO log VALUES (
        (select concat('log',(nvl(max(to_number(substr(log_id,4))), 0)+1)) from log),<!--pk코드 자동증가(수정22)-->

        <if test="log_num == 0 or  log_num == null">
            (select nvl(max(log_num),0)+1 from log where project_id=#{project_id}),
        </if>
        <if test="log_num != null and  log_num != 0">
            #{log_num},
        </if>
        #{log_date},
        #{log_content},
        #{project_id}
        )
    </insert>

    <update id="updateLog" parameterType="com.example.yoonlove.dto.LogDto">
        UPDATE
        log
        SET
        log_num = #{log_num}
        , log_date = #{log_date}
        , log_content = #{log_content}
        , project_id  =  #{project_id}


        WHERE
        log_id = #{log_id}
    </update>





    <delete id="deleteLog" parameterType="com.example.yoonlove.dto.LogDto">
        DELETE FROM logjoin
        WHERE company_id = #{company_id}
        and log_id = #{log_id}
    </delete>

    <!--해당월에 대한 제작일지 기록 모두 출력-->
    <select id="currentMonthLog"  resultType="com.example.yoonlove.dto.LogDto">
        <![CDATA[
        SELECT * FROM logjoin
        WHERE company_id = #{company_id}
          AND EXTRACT(YEAR FROM log_date) = #{year}
          AND EXTRACT(MONTH FROM log_date) = #{month}
    ]]>
    </select>

</mapper>