<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--부서-->
<mapper namespace="com.example.yoonlove.mapper.ProjectMapper">

    <select id="selectListProject" resultType="com.example.yoonlove.dto.ProjectDto">
        SELECT * FROM project
    </select>

    <select id="selectProject" resultType="com.example.yoonlove.dto.ProjectDto">
        SELECT * FROM project where project_id= #{project_id}
    </select>


    <insert id="insertProject">
        insert into project values(
            (select concat('pj',(substr(NVL(max(project_id),'pj0'),3)+1)) from project),<!--pk코드 자동증가-->
            #{project_name},
            #{project_num},
            null,
            null,
            '내용테스트',
            '2023/10/11',
            null,
            null,
            null,
            'true',
            null,
            'com1'
        )
    </insert>


    <update id="updateProject" >
        UPDATE project
        SET
        project_name = #{project_name},
        project_num = #{project_num}

        where project_id = #{project_id}
        </update>


    <delete id="deleteProject">
        DELETE FROM project WHERE project_id = #{project_id}
    </delete>

</mapper>