<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.yoonlove.mapper.ScenarioMapper">
    <select id="selectScenario" resultType="com.example.yoonlove.dto.ScenarioDto">
        SELECT * FROM scenario where scenario_id=#{scenario_id}
    </select>

    <select id="selectListScenario" resultType="com.example.yoonlove.dto.ScenarioDto">
        SELECT * FROM scenario
    </select>

    <insert id="insertScenario">
        insert into scenario values(
        '5',<!--시나리오 pk-->
        (select scenario_num+1 from scenario), <!--시나리오번호 자동증가-->
        #{scenario_name}, <!--시나리오 제목-->
        #{scenario_content},<!--시나리오내용-->
        '관리자',<!--작성자-->
        (select * from todaytime),<!--작성시간-->
        'pj1',<!--드롭박스로 선택할수 있어야함-->
        null<!--수정일. 기본은 공백-->)
    </insert>

    <update id="updateScenario">
        update scenario set scenario_name = #{scenario_name}, scenario_content=#{scenario_content}
        where scenario_id = #{scenario_id}
    </update>

    <delete id="deleteScenario">
        delete from scenario where scenario_id=#{scenario_id}
    </delete>
</mapper>