<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.yoonlove.mapper.SceneMapper">
    <select id="selectScene">
        SELECT * FROM scene where scene_id = #{scene_id}
    </select>

    <select id="selectListScene">
        SELECT * FROM scene
    </select>

    <insert id="insertScene">
        insert into scene values(
        (select concat('scene',(substr(NVL(max(scene_id),'scene0'),6)+1)) from scene),<!--pk코드 자동증가-->
        (select nvl(max(scene_num),0)+1 from scene),<!--씬 번호 자동증가-->
        null,<!--이미지 첨부파일 주소-->
        #{scene_place}, <!--촬영장소-->
        #{story_board},<!--스토리보드 내용-->
        #{scene_content}, <!--스토리보드 요약-->
        'scenario1' <!--시나리오 id 조인해서 드롭다운 형태로 선택할수 있어야함-->
        )
    </insert>

    <update id="updateScene">
        update scene
        set scene_num = #{scene_num},
            scene_content = #{scene_content},
            story_board = #{story_board},
            scene_place = #{scene_place}
        where scene_id = #{scene_id}
    </update>

    <delete id="deleteScene">
        delete from scene where scene_id = #{scene_id}
    </delete>
</mapper>