<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.yoonlove.mapper.ScriptPaperMapper">
    <select id="selectScriptPaper" resultType="com.example.yoonlove.dto.ScriptPaperDto">
        select * from scriptpaper where script_id = #{script_id}
    </select>


    <select id="totalScriptPost" parameterType="com.example.yoonlove.dto.PageDto">
        select count(${id}) as totalPost from scriptview
        <if test="company_id == 'company1'">
            where 1=1 <!--시스템 계정이면 모든 데이터보기-->
        </if>
        <if test="company_id != 'company1'">
            where company_id = #{company_id} <!--시스템계정이 아니면 소속 회사만 보기-->
        </if>
        <!--검색어가 있다면 아래 조건문을 실행-->
        <if test="title != null and search != ''">
            AND script_id like '%${title}%'
        </if>
        <if test="content != null and search != ''">
            AND action_content like '%${content}%'
        </if>

        <if test="writer != null and search != ''">
            AND scenario_name like '%${writer}%'
        </if>

        <if test="pkid != null">
            AND scene_id = #{pkid}
        </if>
    </select>


    <select id="selectListScriptPaper" parameterType="com.example.yoonlove.dto.PageDto" resultType="com.example.yoonlove.dto.ScriptPaperDto">
        select *
        <!--notice검색결과에 rownum을 하고 r로 지정-->
        from(select rownum as r, t.*

        <!--  (   notice 결과 또는 검색 후 리스트에 대한 결과      )를 t로 지정-->
        from (select * from scriptview
        <if test="company_id == 'company1'">
            where 1=1 <!--시스템 계정이면 모든 데이터보기-->
        </if>
        <if test="company_id != 'company1'">
            where company_id = #{company_id} <!--시스템계정이 아니면 소속 회사만 보기-->
        </if>
        <if test="title != null and search != ''">
            AND scene_num like '%${title}%'
        </if>
        <if test="content != null and search != ''">
            AND action_content like '%${title}%'
        </if>


        <if test="writer != null and search != ''">
            AND scenario_name like '%${writer}%'
        </if>
        order by ${id} desc) t)
        <!-- rownum을 기준(r)으로 시작번호부터 끝번호까지 검색   -->
        where r between #{postStart} and #{postEnd}
    </select>


    <!--옵션값에 넣기 위한 fk테이블의 검색값을 가져오는 쿼리-->
    <select id="selectFk">
        SELECT scene_id, scene_num, scene_place, scenario_id FROM scene order by scene_id desc
    </select>

    <select id="selectTimeFk">
        SELECT table_id, film_time, time_num, ok_ng, slate_time FROM timetable order by table_id desc
    </select>


    <insert id="insertScriptPaper">
        insert into scriptpaper values(
        (select concat('script', (nvl(max(to_number(substr(script_id, 7))), 0)+1)) from scriptpaper),<!--pk코드 자동증가(수정2)-->
        #{scene_id}, <!--옵션값으로 들어가야되는부분-->
        #{video_name}, <!--영상제목-->
        #{video_date}, <!--영상촬영 날짜-->
        #{video_time}, <!--영상 촬영시작시간-->
        #{video_end_time}, <!--영상 촬영 종료시간-->
        null, <!--이부분 이제 안씀 테이블삭제 해도됨-->
        #{action_content}, <!--액션 내용-->
        #{position_image}, <!--카메라포지션 첨부파일 주소-->
        #{conti} <!--콘티-->
        )
    </insert>

    <update id="updateScriptPaper">
        update scriptpaper
        set
        video_name = #{video_name},
        video_date = #{video_date},
        video_time = #{video_time},
        video_start_time = #{video_start_time},
        action_content = #{action_content},
        position_image = #{position_image},
        conti = #{conti}
        where script_id = #{script_id}
    </update>

    <delete id="deleteScriptPaper">
        delete from scriptpaper where script_id = #{script_id}
    </delete>


    <!--타임테이블-->
    <select id="totalTimeTablePost" parameterType="com.example.yoonlove.dto.PageDto">
        select count(${id}) as totalPost from ${table}
        <if test="company_id == 'company1'">
            where 1=1 <!--시스템 계정이면 모든 데이터보기-->
        </if>
        <if test="company_id != 'company1'">
            where company_id = #{company_id} <!--시스템계정이 아니면 소속 회사만 보기-->
        </if>
        <!--검색어가 있다면 아래 조건문을 실행-->
        <if test="title != null and search != ''">
            AND table_id like '%${title}%'
        </if>
    </select>


    <select id="selectListTimeTable" parameterType="com.example.yoonlove.dto.PageDto" resultType="com.example.yoonlove.dto.TimeTableDto">
        select *
        <!--notice검색결과에 rownum을 하고 r로 지정-->
        from(select rownum as r, t.*

        <!--  (   notice 결과 또는 검색 후 리스트에 대한 결과      )를 t로 지정-->
        from (select * from ${table}
        <if test="company_id == 'company1'">
            where 1=1 <!--시스템 계정이면 모든 데이터보기-->
        </if>
        <if test="company_id != 'company1'">
            where company_id = #{company_id} <!--시스템계정이 아니면 소속 회사만 보기-->
        </if>
        <if test="title != null and search != ''">
            AND table_id like '%${title}%'
        </if>
        order by ${id} desc) t)

        <!-- rownum을 기준(r)으로 시작번호부터 끝번호까지 검색   -->
        where r between #{postStart} and #{postEnd}
    </select>

    <insert id="insertTimeTable">
        insert into timetable values(
        (select concat('time',(nvl(max(to_number(substr(table_id, 4))), 0)+1)) from timetable),<!--pk코드 자동증가(수정2)-->
        #{film_time},<!--촬영시간(몇시간 몇분)-->
        #{time_num},<!--타임테이블 번호 자동증가 해야됨-->
        #{ok_ng}, <!--ok판정-->
        #{slate_time}, <!--슬레이트시간-->
        #{script_id} <!--script id값 /나중에 조인해서 스크립트 번호가 가야됨-->
        )
    </insert>

    <select id="selectTimeTable" resultType="com.example.yoonlove.dto.TimeTableDto">
        select * from timetable where table_id = #{table_id} <!--1번 내용부터 오름차순해야됨-->
    </select>

    <update id="updateTimeTable">
        update timetable
        set film_time = #{film_time},
        time_num = #{time_num},
        ok_ng = #{ok_ng},
        slate_time = #{slate_time},
        script_id = #{script_id} <!--스크립트 드롭다운 선택형-->
        where table_id = #{table_id}
    </update>

    <delete id="deleteTimeTable">
        delete from timetable where table_id = #{table_id}
    </delete>

</mapper>